USE [IIOT_TOOLBOX]
GO
/****** Object:  Table [dbo].[ITEMS]    Script Date: 20/5/2569 14:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEMS](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[sap_no] [varchar](100) NOT NULL,
	[part_no] [varchar](100) NOT NULL,
	[part_description] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[planned_output] [int] NOT NULL,
	[min_stock] [decimal](18, 6) NOT NULL,
	[max_stock] [decimal](18, 6) NOT NULL,
	[is_tracking] [bit] NOT NULL,
	[Cost_RM] [decimal](18, 6) NOT NULL,
	[Cost_PKG] [decimal](18, 6) NOT NULL,
	[Cost_SUB] [decimal](18, 6) NOT NULL,
	[Cost_DL] [decimal](18, 6) NOT NULL,
	[Cost_OH_Machine] [decimal](18, 6) NOT NULL,
	[Cost_OH_Utilities] [decimal](18, 6) NOT NULL,
	[Cost_OH_Indirect] [decimal](18, 6) NOT NULL,
	[Cost_OH_Staff] [decimal](18, 6) NOT NULL,
	[Cost_OH_Accessory] [decimal](18, 6) NOT NULL,
	[Cost_OH_Others] [decimal](18, 6) NOT NULL,
	[StandardPrice] [decimal](18, 6) NOT NULL,
	[Price_USD] [decimal](18, 6) NOT NULL,
	[sku] [nvarchar](50) NULL,
	[Cost_Total]  AS (((((((((isnull([Cost_RM],(0))+isnull([Cost_PKG],(0)))+isnull([Cost_SUB],(0)))+isnull([Cost_DL],(0)))+isnull([Cost_OH_Machine],(0)))+isnull([Cost_OH_Utilities],(0)))+isnull([Cost_OH_Indirect],(0)))+isnull([Cost_OH_Staff],(0)))+isnull([Cost_OH_Accessory],(0)))+isnull([Cost_OH_Others],(0))) PERSISTED,
	[StandardGP]  AS ([StandardPrice]-(((((((((isnull([Cost_RM],(0))+isnull([Cost_PKG],(0)))+isnull([Cost_SUB],(0)))+isnull([Cost_DL],(0)))+isnull([Cost_OH_Machine],(0)))+isnull([Cost_OH_Utilities],(0)))+isnull([Cost_OH_Indirect],(0)))+isnull([Cost_OH_Staff],(0)))+isnull([Cost_OH_Accessory],(0)))+isnull([Cost_OH_Others],(0)))) PERSISTED,
	[CTN] [int] NULL,
	[material_type] [nvarchar](20) NULL,
	[net_weight] [decimal](18, 4) NULL,
	[gross_weight] [decimal](18, 4) NULL,
	[cbm] [decimal](18, 4) NULL,
	[invoice_description] [nvarchar](255) NULL,
	[invoice_product_type] [nvarchar](100) NULL,
	[image_path] [varchar](255) NULL,
	[item_category] [varchar](50) NULL,
	[material_sub_type] [varchar](50) NULL,
	[barcode] [varchar](100) NULL,
 CONSTRAINT [PK_ITEMS] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_sap_no] UNIQUE NONCLUSTERED 
(
	[sap_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTION_PLANS]    Script Date: 20/5/2569 14:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTION_PLANS](
	[plan_id] [int] IDENTITY(1,1) NOT NULL,
	[plan_date] [date] NOT NULL,
	[line] [nvarchar](50) NOT NULL,
	[shift] [nvarchar](50) NOT NULL,
	[item_id] [int] NOT NULL,
	[original_planned_quantity] [decimal](18, 2) NOT NULL,
	[carry_over_quantity] [decimal](18, 2) NOT NULL,
	[adjusted_planned_quantity]  AS ([original_planned_quantity]+[carry_over_quantity]) PERSISTED,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](100) NULL,
	[manpower_num] [int] NULL,
	[ot_hours] [decimal](18, 2) NULL,
	[total_labor_cost] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PRODUCTION_PLANS] PRIMARY KEY CLUSTERED 
(
	[plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ProductionPlan_Unique] UNIQUE NONCLUSTERED 
(
	[plan_date] ASC,
	[line] ASC,
	[shift] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK_TRANSACTIONS]    Script Date: 20/5/2569 14:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK_TRANSACTIONS](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[parameter_id] [int] NOT NULL,
	[quantity] [decimal](18, 6) NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[transaction_timestamp] [datetime] NOT NULL,
	[from_location_id] [int] NULL,
	[to_location_id] [int] NULL,
	[reference_id] [varchar](255) NULL,
	[created_by_user_id] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[ProductionDate]  AS (CONVERT([date],dateadd(hour,(-8),[transaction_timestamp]))) PERSISTED,
	[std_price_snapshot] [decimal](18, 6) NULL,
	[std_cost_mat_snapshot] [decimal](18, 6) NULL,
	[std_cost_dl_snapshot] [decimal](18, 6) NULL,
	[std_cost_oh_snapshot] [decimal](18, 6) NULL,
	[total_sales_value]  AS (isnull([quantity],(0))*isnull([std_price_snapshot],(0))) PERSISTED,
	[total_cost_value]  AS (isnull([quantity],(0))*((isnull([std_cost_mat_snapshot],(0))+isnull([std_cost_dl_snapshot],(0)))+isnull([std_cost_oh_snapshot],(0)))) PERSISTED,
	[std_cost_oh_machine_snapshot] [decimal](18, 6) NULL,
	[std_cost_oh_util_snapshot] [decimal](18, 6) NULL,
	[std_cost_oh_indirect_snapshot] [decimal](18, 6) NULL,
	[std_cost_oh_staff_snapshot] [decimal](18, 6) NULL,
	[std_cost_oh_acc_snapshot] [decimal](18, 6) NULL,
	[std_cost_oh_other_snapshot] [decimal](18, 6) NULL,
	[std_price_usd_snapshot] [decimal](18, 6) NULL,
	[job_id] [int] NULL,
 CONSTRAINT [PK_STOCK_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_planned_output]  DEFAULT ((0)) FOR [planned_output]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_min_stock]  DEFAULT ((0)) FOR [min_stock]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_max_stock]  DEFAULT ((0)) FOR [max_stock]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_is_tracking_v2]  DEFAULT ((0)) FOR [is_tracking]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_RM]  DEFAULT ((0)) FOR [Cost_RM]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_PKG]  DEFAULT ((0)) FOR [Cost_PKG]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_SUB]  DEFAULT ((0)) FOR [Cost_SUB]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_DL]  DEFAULT ((0)) FOR [Cost_DL]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Machine]  DEFAULT ((0)) FOR [Cost_OH_Machine]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Utilities]  DEFAULT ((0)) FOR [Cost_OH_Utilities]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Indirect]  DEFAULT ((0)) FOR [Cost_OH_Indirect]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Staff]  DEFAULT ((0)) FOR [Cost_OH_Staff]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Accessory]  DEFAULT ((0)) FOR [Cost_OH_Accessory]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Others]  DEFAULT ((0)) FOR [Cost_OH_Others]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_StandardPrice]  DEFAULT ((0)) FOR [StandardPrice]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Price_USD]  DEFAULT ((0)) FOR [Price_USD]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT ((0)) FOR [CTN]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT ('GENERAL') FOR [item_category]
GO
ALTER TABLE [dbo].[PRODUCTION_PLANS] ADD  CONSTRAINT [DF_PRODUCTION_PLANS_OriginalQty]  DEFAULT ((0)) FOR [original_planned_quantity]
GO
ALTER TABLE [dbo].[PRODUCTION_PLANS] ADD  CONSTRAINT [DF_PRODUCTION_PLANS_CarryOverQty]  DEFAULT ((0)) FOR [carry_over_quantity]
GO
ALTER TABLE [dbo].[PRODUCTION_PLANS] ADD  CONSTRAINT [DF_PRODUCTION_PLANS_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PRODUCTION_PLANS] ADD  CONSTRAINT [DF_PRODUCTION_PLANS_UpdatedAt]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[PRODUCTION_PLANS] ADD  DEFAULT ((0)) FOR [manpower_num]
GO
ALTER TABLE [dbo].[PRODUCTION_PLANS] ADD  DEFAULT ((0)) FOR [ot_hours]
GO
ALTER TABLE [dbo].[PRODUCTION_PLANS] ADD  DEFAULT ((0)) FOR [total_labor_cost]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] ADD  DEFAULT (getdate()) FOR [transaction_timestamp]
GO
ALTER TABLE [dbo].[PRODUCTION_PLANS]  WITH CHECK ADD  CONSTRAINT [FK_Plan_Item] FOREIGN KEY([item_id])
REFERENCES [dbo].[ITEMS] ([item_id])
GO
ALTER TABLE [dbo].[PRODUCTION_PLANS] CHECK CONSTRAINT [FK_Plan_Item]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_ITEMS] FOREIGN KEY([parameter_id])
REFERENCES [dbo].[ITEMS] ([item_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_ITEMS]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_LOCATIONS_FROM] FOREIGN KEY([from_location_id])
REFERENCES [dbo].[LOCATIONS] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_LOCATIONS_FROM]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_LOCATIONS_TO] FOREIGN KEY([to_location_id])
REFERENCES [dbo].[LOCATIONS] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_LOCATIONS_TO]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_USERS] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_USERS]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTIONS_ITEMS] FOREIGN KEY([parameter_id])
REFERENCES [dbo].[ITEMS] ([item_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_TRANSACTIONS_ITEMS]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTIONS_LOCATION_FROM] FOREIGN KEY([from_location_id])
REFERENCES [dbo].[LOCATIONS] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_TRANSACTIONS_LOCATION_FROM]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTIONS_LOCATION_TO] FOREIGN KEY([to_location_id])
REFERENCES [dbo].[LOCATIONS] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_TRANSACTIONS_LOCATION_TO]
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoGenerateProductionPlan]    Script Date: 20/5/2569 14:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AutoGenerateProductionPlan]
    @FilterType VARCHAR(10),       
    @StartDate DATE = NULL,        
    @EndDate DATE = NULL,          
    @StartWeek VARCHAR(10) = NULL, 
    @EndWeek VARCHAR(10) = NULL,   
    @PlanStartDate DATE,    
    @PlanEndDate DATE,      
    @PlanRangeMode VARCHAR(10), 
    @ShiftMode VARCHAR(20), 
    @SetupTimeHrs DECIMAL(18,2), 
    @OTHours DECIMAL(18,2),  
    @TotalOTBudget DECIMAL(18,2) = 0,
    @WorkOnSunday BIT = 0,   
    @Overwrite BIT,         
    @User NVARCHAR(100),
    @AllowedOTDays VARCHAR(50) = '1,2,3,4,5' 
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; 

    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF OBJECT_ID('tempdb..#FinalPlans') IS NOT NULL DROP TABLE #FinalPlans;
        IF OBJECT_ID('tempdb..#GroupedFinal') IS NOT NULL DROP TABLE #GroupedFinal;
        IF OBJECT_ID('tempdb..#WorkCalendar') IS NOT NULL DROP TABLE #WorkCalendar;
        IF OBJECT_ID('tempdb..#LineSched') IS NOT NULL DROP TABLE #LineSched;

        CREATE TABLE #FinalPlans (
            plan_date DATE, line NVARCHAR(50), shift NVARCHAR(50), item_id INT, qty DECIMAL(18,2),
            target_week VARCHAR(20), po_number VARCHAR(100),
            hourly_capacity DECIMAL(18,2), applied_ot DECIMAL(18,2)
        );

        CREATE TABLE #WorkCalendar (CalDate DATE PRIMARY KEY, IsWorkDay BIT);
        DECLARE @MaxCalDate DATE = ISNULL(@PlanEndDate, DATEADD(DAY, 365, @PlanStartDate));
        
        ;WITH DateGen AS (
            SELECT @PlanStartDate AS d
            UNION ALL
            SELECT DATEADD(DAY, 1, d) FROM DateGen WHERE d < @MaxCalDate
        )
        INSERT INTO #WorkCalendar (CalDate, IsWorkDay)
        SELECT 
            d, 
            CASE WHEN ISNULL(mc.day_type, 'NORMAL') = 'HOLIDAY' OR (ISNULL(mc.day_type, 'NORMAL') = 'SUNDAY' AND @WorkOnSunday = 0) THEN 0 ELSE 1 END
        FROM DateGen 
        LEFT JOIN dbo.MANPOWER_CALENDAR mc WITH (NOLOCK) ON DateGen.d = mc.calendar_date
        OPTION (MAXRECURSION 32767);

        CREATE TABLE #LineSched (Line NVARCHAR(50), ShiftName NVARCHAR(10), BaseHours DECIMAL(18,2));
        INSERT INTO #LineSched
        SELECT line, shift_name, ISNULL((DATEDIFF(MINUTE, start_time, end_time) + CASE WHEN end_time < start_time THEN 1440 ELSE 0 END - ISNULL(planned_break_minutes,0))/60.0, 8.0)
        FROM dbo.LINE_SCHEDULES WITH (NOLOCK) WHERE is_active = 1;

        DECLARE @StartWeekVal INT = 0, @EndWeekVal INT = 99999;
        IF @FilterType = 'WEEK' AND @StartWeek LIKE '%.%' AND @EndWeek LIKE '%.%'
        BEGIN
            SET @StartWeekVal = CAST(TRY_CAST(PARSENAME(REPLACE(@StartWeek, ' ', ''), 1) AS INT) AS INT) * 100 + CAST(TRY_CAST(PARSENAME(REPLACE(@StartWeek, ' ', ''), 2) AS INT) AS INT);
            SET @EndWeekVal = CAST(TRY_CAST(PARSENAME(REPLACE(@EndWeek, ' ', ''), 1) AS INT) AS INT) * 100 + CAST(TRY_CAST(PARSENAME(REPLACE(@EndWeek, ' ', ''), 2) AS INT) AS INT);
        END

        DECLARE @v_line NVARCHAR(50), @v_item_id INT, @v_total_qty DECIMAL(18,2), @v_hourly_cap DECIMAL(18,2);
        DECLARE @v_shipping_week VARCHAR(20), @v_po_number VARCHAR(100), @v_sku VARCHAR(100);
        
        DECLARE @TotalUnplanned DECIMAL(18,2) = 0, @UnplannedMissingData DECIMAL(18,2) = 0, @UnplannedHours DECIMAL(18,2) = 0; 
        DECLARE @UnplannedInvalidSKU DECIMAL(18,2) = 0; 
        
        DECLARE so_cursor CURSOR LOCAL FAST_FORWARD FOR 
        SELECT 
            ISNULL(r.line, 'UNKNOWN_LINE') AS line,
            ISNULL(i.item_id, 0) AS item_id,
            ISNULL(so.shipping_week, '9999.99') AS shipping_week,
            ISNULL(so.po_number, 'N/A') AS po_number,
            SUM(so.quantity) as total_qty,
            ISNULL(NULLIF(MAX(r.planned_output), 0), 0) AS hourly_capacity,
            ISNULL(MAX(so.sku), '') AS sku 
        FROM dbo.SALES_ORDERS so WITH (NOLOCK)
        LEFT JOIN dbo.ITEMS i WITH (NOLOCK) ON so.sku = i.sku OR so.sku = i.part_no 
        OUTER APPLY (
            SELECT TOP 1 line, planned_output FROM dbo.MANUFACTURING_ROUTES mr WITH (NOLOCK) WHERE mr.item_id = i.item_id ORDER BY planned_output DESC
        ) r
        WHERE ISNULL(so.quantity, 0) > 0 AND ISNULL(so.is_production_done, 0) = 0
          AND (
              (@FilterType = 'DATE' AND so.production_date BETWEEN @StartDate AND @EndDate) OR 
              (@FilterType = 'WEEK' AND so.shipping_week LIKE '%.%' AND (CAST(TRY_CAST(PARSENAME(REPLACE(so.shipping_week, ' ', ''), 1) AS INT) AS INT) * 100 + CAST(TRY_CAST(PARSENAME(REPLACE(so.shipping_week, ' ', ''), 2) AS INT) AS INT)) BETWEEN @StartWeekVal AND @EndWeekVal)
          )
        GROUP BY ISNULL(r.line, 'UNKNOWN_LINE'), ISNULL(i.item_id, 0), so.shipping_week, so.po_number
        ORDER BY 
            line ASC, 
            CASE WHEN so.shipping_week LIKE '%.%' THEN CAST(TRY_CAST(PARSENAME(REPLACE(so.shipping_week, ' ', ''), 1) AS INT) AS INT) ELSE 9999 END ASC, 
            CASE WHEN so.shipping_week LIKE '%.%' THEN CAST(TRY_CAST(PARSENAME(REPLACE(so.shipping_week, ' ', ''), 2) AS INT) AS INT) ELSE 9999 END ASC,
            ISNULL(i.item_id, 0) ASC;

        DECLARE @CurrentLine NVARCHAR(50) = '', @CurrentItem INT = 0, @CurrentDate DATE, @CurrentShift NVARCHAR(10);
        DECLARE @BaseDayHours DECIMAL(18,2) = 8.0, @BaseNightHours DECIMAL(18,2) = 8.0;
        DECLARE @AvailHours DECIMAL(18,2) = 0, @ShiftMaxHours DECIMAL(18,2) = 0;
        DECLARE @RemainingOTBudget DECIMAL(18,2) = ISNULL(@TotalOTBudget, 0), @AppliedOT DECIMAL(18,2) = 0;
        DECLARE @RemainingSetup DECIMAL(18,2) = 0;

        OPEN so_cursor;
        FETCH NEXT FROM so_cursor INTO @v_line, @v_item_id, @v_shipping_week, @v_po_number, @v_total_qty, @v_hourly_cap, @v_sku;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF @v_sku = ''
            BEGIN
                SET @UnplannedInvalidSKU = @UnplannedInvalidSKU + @v_total_qty;
                FETCH NEXT FROM so_cursor INTO @v_line, @v_item_id, @v_shipping_week, @v_po_number, @v_total_qty, @v_hourly_cap, @v_sku;
                CONTINUE;
            END

            IF @v_item_id = 0 OR @v_hourly_cap <= 0
            BEGIN
                SET @UnplannedMissingData = @UnplannedMissingData + @v_total_qty;
                FETCH NEXT FROM so_cursor INTO @v_line, @v_item_id, @v_shipping_week, @v_po_number, @v_total_qty, @v_hourly_cap, @v_sku;
                CONTINUE; 
            END

            IF @v_line <> @CurrentLine
            BEGIN
                SET @CurrentLine = @v_line; 
                SET @CurrentDate = @PlanStartDate; 
                SET @CurrentShift = CASE WHEN @ShiftMode = 'NIGHT' THEN 'NIGHT' ELSE 'DAY' END;
                SET @RemainingOTBudget = ISNULL(@TotalOTBudget, 0);
                
                SET @BaseDayHours = ISNULL((SELECT TOP 1 BaseHours FROM #LineSched WHERE Line = @CurrentLine AND ShiftName = 'DAY'), 8.0);
                SET @BaseNightHours = ISNULL((SELECT TOP 1 BaseHours FROM #LineSched WHERE Line = @CurrentLine AND ShiftName = 'NIGHT'), 8.0);
                
                WHILE (SELECT IsWorkDay FROM #WorkCalendar WHERE CalDate = @CurrentDate) = 0 AND @CurrentDate <= @MaxCalDate
                BEGIN 
                    SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate); 
                END

                SET @AvailHours = CASE WHEN @CurrentShift = 'DAY' THEN @BaseDayHours ELSE @BaseNightHours END;

                SET @AppliedOT = 0;
                DECLARE @DayOfWeekStr VARCHAR(2) = CAST(CASE WHEN DATEPART(WEEKDAY, @CurrentDate) = 1 THEN 7 ELSE DATEPART(WEEKDAY, @CurrentDate) - 1 END AS VARCHAR);

                IF @TotalOTBudget > 0 AND CHARINDEX(@DayOfWeekStr, @AllowedOTDays) > 0 BEGIN
                    IF @RemainingOTBudget > 0 BEGIN
                        IF @RemainingOTBudget >= @OTHours SET @AppliedOT = @OTHours ELSE SET @AppliedOT = @RemainingOTBudget;
                        SET @RemainingOTBudget = @RemainingOTBudget - @AppliedOT;
                    END
                END ELSE IF CHARINDEX(@DayOfWeekStr, @AllowedOTDays) > 0 BEGIN
                    SET @AppliedOT = @OTHours;
                END

                SET @AvailHours = @AvailHours + @AppliedOT;
                SET @ShiftMaxHours = @AvailHours;
                SET @CurrentItem = 0;
                SET @RemainingSetup = 0;
            END
            ELSE
            BEGIN
                IF @AvailHours > @ShiftMaxHours SET @AvailHours = @ShiftMaxHours;
            END

            IF @CurrentItem <> @v_item_id
            BEGIN
                SET @CurrentItem = @v_item_id;
                SET @RemainingSetup = @SetupTimeHrs;
            END

            IF @RemainingSetup > 0
            BEGIN
                IF @AvailHours >= @RemainingSetup
                BEGIN
                    SET @AvailHours = @AvailHours - @RemainingSetup;
                    SET @RemainingSetup = 0;
                END
                ELSE
                BEGIN
                    SET @RemainingSetup = @RemainingSetup - @AvailHours;
                    SET @AvailHours = 0;
                END
            END

            DECLARE @Remaining DECIMAL(18,2) = CEILING(@v_total_qty);

            WHILE @Remaining > 0
            BEGIN
                IF @PlanRangeMode = 'CLOSED' AND @CurrentDate > @PlanEndDate
                BEGIN
                    SET @TotalUnplanned = @TotalUnplanned + @Remaining;
                    SET @UnplannedHours = @UnplannedHours + (@Remaining / ISNULL(NULLIF(@v_hourly_cap, 0), 1));
                    SET @Remaining = 0; BREAK;
                END

                IF @AvailHours <= 0
                BEGIN
                    IF @ShiftMode IN ('SPLIT', 'ALL', 'DAYNIGHT', 'BOTH') AND @CurrentShift = 'DAY'
                    BEGIN 
                        SET @CurrentShift = 'NIGHT'; 
                        SET @AvailHours = @BaseNightHours; 
                        
                        SET @AppliedOT = 0;
                        DECLARE @DOW_N VARCHAR(2) = CAST(CASE WHEN DATEPART(WEEKDAY, @CurrentDate) = 1 THEN 7 ELSE DATEPART(WEEKDAY, @CurrentDate) - 1 END AS VARCHAR);
                        
                        IF @TotalOTBudget > 0 AND CHARINDEX(@DOW_N, @AllowedOTDays) > 0 BEGIN
                            IF @RemainingOTBudget > 0 BEGIN
                                IF @RemainingOTBudget >= @OTHours SET @AppliedOT = @OTHours ELSE SET @AppliedOT = @RemainingOTBudget;
                                SET @RemainingOTBudget = @RemainingOTBudget - @AppliedOT;
                            END
                        END ELSE IF CHARINDEX(@DOW_N, @AllowedOTDays) > 0 BEGIN
                            SET @AppliedOT = @OTHours;
                        END

                        SET @AvailHours = @AvailHours + @AppliedOT;
                        SET @ShiftMaxHours = @AvailHours;
                    END
                    ELSE
                    BEGIN
                        SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate); 
                        SET @CurrentShift = CASE WHEN @ShiftMode = 'NIGHT' THEN 'NIGHT' ELSE 'DAY' END;

                        WHILE (SELECT IsWorkDay FROM #WorkCalendar WHERE CalDate = @CurrentDate) = 0 AND @CurrentDate <= @MaxCalDate
                        BEGIN 
                            SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate); 
                        END

                        IF @PlanRangeMode = 'CLOSED' AND @CurrentDate > @PlanEndDate 
                        BEGIN
                            SET @TotalUnplanned = @TotalUnplanned + @Remaining;
                            SET @UnplannedHours = @UnplannedHours + (@Remaining / ISNULL(NULLIF(@v_hourly_cap, 0), 1));
                            SET @Remaining = 0; BREAK;
                        END

                        SET @AvailHours = CASE WHEN @CurrentShift = 'DAY' THEN @BaseDayHours ELSE @BaseNightHours END;
                        
                        SET @AppliedOT = 0;
                        DECLARE @DOW_D VARCHAR(2) = CAST(CASE WHEN DATEPART(WEEKDAY, @CurrentDate) = 1 THEN 7 ELSE DATEPART(WEEKDAY, @CurrentDate) - 1 END AS VARCHAR);

                        IF @TotalOTBudget > 0 AND CHARINDEX(@DOW_D, @AllowedOTDays) > 0 BEGIN
                            IF @RemainingOTBudget > 0 BEGIN
                                IF @RemainingOTBudget >= @OTHours SET @AppliedOT = @OTHours ELSE SET @AppliedOT = @RemainingOTBudget;
                                SET @RemainingOTBudget = @RemainingOTBudget - @AppliedOT;
                            END
                        END ELSE IF CHARINDEX(@DOW_D, @AllowedOTDays) > 0 BEGIN
                            SET @AppliedOT = @OTHours;
                        END
                        
                        SET @AvailHours = @AvailHours + @AppliedOT;
                        SET @ShiftMaxHours = @AvailHours;
                    END
                    
                    IF @RemainingSetup > 0
                    BEGIN
                        IF @AvailHours >= @RemainingSetup
                        BEGIN
                            SET @AvailHours = @AvailHours - @RemainingSetup;
                            SET @RemainingSetup = 0;
                        END
                        ELSE
                        BEGIN
                            SET @RemainingSetup = @RemainingSetup - @AvailHours;
                            SET @AvailHours = 0;
                        END
                    END
                END

                IF @AvailHours > 0 
                BEGIN
                    DECLARE @HoursNeeded DECIMAL(18,2) = @Remaining / ISNULL(NULLIF(@v_hourly_cap, 0), 1);
                    DECLARE @Take DECIMAL(18,2) = 0;

                    IF @HoursNeeded <= @AvailHours
                    BEGIN 
                        SET @Take = @Remaining; 
                        SET @AvailHours = @AvailHours - @HoursNeeded; 
                    END
                    ELSE
                    BEGIN
                        SET @Take = ROUND(@AvailHours * @v_hourly_cap, 0); 
                        IF @Take < 1 AND @AvailHours > 0 SET @Take = 1;
                        IF @Take > @Remaining SET @Take = @Remaining; 
                        SET @AvailHours = 0;
                    END

                    IF @Take > 0
                    BEGIN 
                        INSERT INTO #FinalPlans (plan_date, line, shift, item_id, qty, target_week, po_number, hourly_capacity, applied_ot) 
                        VALUES (@CurrentDate, @CurrentLine, @CurrentShift, @v_item_id, @Take, @v_shipping_week, @v_po_number, @v_hourly_cap, @AppliedOT); 
                    END
                    SET @Remaining = @Remaining - @Take;
                END
            END

            FETCH NEXT FROM so_cursor INTO @v_line, @v_item_id, @v_shipping_week, @v_po_number, @v_total_qty, @v_hourly_cap, @v_sku;
        END

        CLOSE so_cursor; DEALLOCATE so_cursor;

        SELECT plan_date, line, shift, item_id, SUM(qty) as qty, MAX(applied_ot) as ot_hours
        INTO #GroupedFinal
        FROM #FinalPlans
        GROUP BY plan_date, line, shift, item_id;

        IF @Overwrite = 1
        BEGIN
            DELETE FROM dbo.PRODUCTION_PLANS
            WHERE line IN (SELECT DISTINCT line FROM #GroupedFinal)
              AND plan_date >= @PlanStartDate
              AND note IN ('Auto APS Scheduled', 'Auto Scheduled', 'Auto Forward Scheduled', 'Auto Forward Scheduled (Camp.)', 'Auto-generated from SO');
        END

        MERGE INTO dbo.PRODUCTION_PLANS AS T
        USING #GroupedFinal AS S
        ON (T.plan_date = S.plan_date AND T.line = S.line AND T.shift = S.shift AND T.item_id = S.item_id)
        WHEN MATCHED AND @Overwrite = 1 THEN
            UPDATE SET original_planned_quantity = S.qty, ot_hours = S.ot_hours, note = 'Auto APS Scheduled', updated_by = @User, updated_at = GETDATE()
        WHEN NOT MATCHED THEN
            INSERT (plan_date, line, shift, item_id, original_planned_quantity, carry_over_quantity, ot_hours, note, created_at, updated_by)
            VALUES (S.plan_date, S.line, S.shift, S.item_id, S.qty, 0, S.ot_hours, 'Auto APS Scheduled', GETDATE(), @User);

        DECLARE @RowAffected INT = (SELECT COUNT(*) FROM #GroupedFinal);
        DECLARE @FinalMsg NVARCHAR(MAX) = N'จัดคิวแผนการผลิตเรียบร้อยแล้ว จำนวน ' + CAST(@RowAffected AS VARCHAR) + N' รายการ';
        DECLARE @DelayMsg NVARCHAR(MAX) = '';
        DECLARE @TotalDelayedQty DECIMAL(18,2) = 0;
        DECLARE @DelayedDetailsJSON NVARCHAR(MAX) = '[]';

        SELECT @TotalDelayedQty = ISNULL(SUM(qty), 0)
        FROM #FinalPlans
        WHERE target_week LIKE '%.%' AND target_week != '9999.99'
          AND (YEAR(plan_date) * 100 + DATEPART(iso_week, plan_date)) > 
              ((2000 + CAST(TRY_CAST(PARSENAME(target_week, 1) AS INT) AS INT)) * 100 + CAST(TRY_CAST(PARSENAME(target_week, 2) AS INT) AS INT));

        IF @TotalDelayedQty > 0
        BEGIN
            SELECT @DelayedDetailsJSON = ISNULL((
                SELECT 
                    po_number, target_week, ActualWeek, TotalOrderQty, DelayedQty,
                    DelayedPercent = CAST((DelayedQty / NULLIF(TotalOrderQty, 0)) * 100 AS DECIMAL(5,2)),
                    ExtraHoursNeeded = CAST((DelayedQty / NULLIF(AvgCapacity, 0)) AS DECIMAL(18,2))
                FROM (
                    SELECT 
                        po_number, target_week, SUM(qty) AS TotalOrderQty, MAX(hourly_capacity) AS AvgCapacity,
                        SUM(CASE WHEN (YEAR(plan_date) * 100 + DATEPART(iso_week, plan_date)) > 
                                      ((2000 + CAST(TRY_CAST(PARSENAME(target_week, 1) AS INT) AS INT)) * 100 + CAST(TRY_CAST(PARSENAME(target_week, 2) AS INT) AS INT)) 
                                 THEN qty ELSE 0 END) AS DelayedQty,
                        MAX(YEAR(plan_date) * 100 + DATEPART(iso_week, plan_date)) AS ActualWeek
                    FROM #FinalPlans
                    WHERE target_week LIKE '%.%' AND target_week != '9999.99'
                    GROUP BY po_number, target_week
                ) AS Aggregated
                WHERE DelayedQty > 0
                FOR JSON PATH
            ), '[]');

            SELECT 
                @DelayMsg = @DelayMsg + '<li>PO: <b>' + po_number + '</b> (เป้า: Wk ' + target_week + ' &rarr; แผนจริง: Wk ' + CAST(ActualWeek % 100 AS VARCHAR) + '.' + RIGHT('00' + CAST((ActualWeek / 100) % 100 AS VARCHAR), 2) +') : ล่าช้า ' + CAST(DelayedQty AS VARCHAR) + ' ชิ้น</li>'
            FROM (
                 SELECT 
                    po_number, target_week,
                    SUM(CASE WHEN (YEAR(plan_date) * 100 + DATEPART(iso_week, plan_date)) > 
                                  ((2000 + CAST(TRY_CAST(PARSENAME(target_week, 1) AS INT) AS INT)) * 100 + CAST(TRY_CAST(PARSENAME(target_week, 2) AS INT) AS INT)) 
                             THEN qty ELSE 0 END) AS DelayedQty,
                    MAX(YEAR(plan_date) * 100 + DATEPART(iso_week, plan_date)) AS ActualWeek
                FROM #FinalPlans
                WHERE target_week LIKE '%.%' AND target_week != '9999.99'
                GROUP BY po_number, target_week
            ) T WHERE DelayedQty > 0;

            SET @FinalMsg = @FinalMsg + N'<br><br><b>พบออเดอร์จัดลงแผนไม่ทันกำหนด (Delayed):</b><ul class="mb-0 text-danger text-start mt-2" style="font-size: 0.85rem; max-height: 150px; overflow-y: auto;">' + @DelayMsg + N'</ul>';
        END

        IF @UnplannedInvalidSKU > 0
        BEGIN
            SET @FinalMsg = @FinalMsg + N'<br><b class="text-danger">พบยอดออเดอร์ข้อมูลบกพร่อง (ในระบบ Sales Order):</b><ul class="mb-0 text-danger text-start mt-1" style="font-size: 0.85rem;"><li>พบ PO ในระบบที่ไม่มีการระบุรหัส SKU / รหัสสินค้า จำนวน <b>' + CAST(@UnplannedInvalidSKU AS VARCHAR) + N'</b> ชิ้น</li></ul>';
        END

        IF @TotalUnplanned > 0 OR @UnplannedMissingData > 0
        BEGIN
            SET @FinalMsg = @FinalMsg + N'<br><b>พบยอดออเดอร์ตกหล่น (ไม่ได้จัดลงแผน):</b><ul class="mb-0 text-warning text-start mt-1" style="font-size: 0.85rem;">';
            IF @TotalUnplanned > 0
            BEGIN
                DECLARE @ShiftEst DECIMAL(18,1) = @UnplannedHours / 8.0;
                SET @FinalMsg = @FinalMsg + N'<li>ล้นกรอบเวลาที่กำหนด จำนวน <b>' + CAST(@TotalUnplanned AS VARCHAR) + N'</b> ชิ้น <br>';
                SET @FinalMsg = @FinalMsg + N'<span class="text-secondary small">แนะนำ: ต้องใช้เวลาผลิตเพิ่มอีก <b>' + CAST(CAST(@UnplannedHours AS DECIMAL(18,1)) AS VARCHAR) + N' ชั่วโมง</b></span></li>';
            END
            IF @UnplannedMissingData > 0
            BEGIN
                SET @FinalMsg = @FinalMsg + N'<li class="mt-1">มีรหัสสินค้าแต่ไม่มีข้อมูลใน Master Data หรือ Routing จำนวน <b>' + CAST(@UnplannedMissingData AS VARCHAR) + N'</b> ชิ้น</li>';
            END
            SET @FinalMsg = @FinalMsg + N'</ul>';
        END

        DECLARE @OTSummaryJSON NVARCHAR(MAX) = '[]';
        SELECT @OTSummaryJSON = ISNULL((
            SELECT CONVERT(VARCHAR(10), plan_date, 120) AS plan_date, MAX(ot_hours) AS ot_hours
            FROM #GroupedFinal WHERE ot_hours > 0 GROUP BY plan_date ORDER BY plan_date ASC FOR JSON PATH
        ), '[]');

        DROP TABLE #FinalPlans; 
        DROP TABLE #GroupedFinal;
        DROP TABLE #WorkCalendar;
        DROP TABLE #LineSched;

        COMMIT TRANSACTION;

        SELECT 1 AS success, @FinalMsg AS message, (@TotalUnplanned + @UnplannedMissingData + @UnplannedInvalidSKU) AS unplanned_qty, @DelayedDetailsJSON AS delayed_details_json, @OTSummaryJSON AS ot_summary_json;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        IF CURSOR_STATUS('global', 'so_cursor') >= -1 BEGIN CLOSE so_cursor; DEALLOCATE so_cursor; END
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePlanCarryOver]    Script Date: 20/5/2569 14:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePlanCarryOver]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CAST(DATEADD(HOUR, -8, transaction_timestamp) AS DATE) AS ActualDate,
        l.production_line AS ActualLine,
        CASE WHEN DATEPART(HOUR, DATEADD(HOUR, -8, transaction_timestamp)) < 12 THEN 'DAY' ELSE 'NIGHT' END AS ActualShift,
        parameter_id AS ActualItemId,
        SUM(quantity) as ActualQty
    INTO #ActualSummary
    FROM dbo.STOCK_TRANSACTIONS t WITH (NOLOCK)
    JOIN dbo.LOCATIONS l WITH (NOLOCK) ON t.to_location_id = l.location_id
    WHERE t.transaction_type = 'PRODUCTION_FG'
      AND t.transaction_timestamp >= DATEADD(DAY, -2, @StartDate)
    GROUP BY CAST(DATEADD(HOUR, -8, transaction_timestamp) AS DATE), l.production_line, 
             CASE WHEN DATEPART(HOUR, DATEADD(HOUR, -8, transaction_timestamp)) < 12 THEN 'DAY' ELSE 'NIGHT' END, parameter_id;

    SELECT DISTINCT item_id, line 
    INTO #ActiveItems
    FROM (
        SELECT item_id, line FROM dbo.PRODUCTION_PLANS WITH (NOLOCK) WHERE plan_date BETWEEN @StartDate AND @EndDate
        UNION
        SELECT ActualItemId, ActualLine FROM #ActualSummary WHERE ActualDate BETWEEN @StartDate AND @EndDate
    ) x;

    SELECT 
        c.calendar_date as p_date,
        s.ShiftName as p_shift,
        ai.line as p_line,
        ai.item_id as p_item,
        CASE WHEN s.ShiftName = 'DAY' THEN 1 ELSE 2 END as shift_order
    INTO #FullSchedule
    FROM dbo.MANPOWER_CALENDAR c WITH (NOLOCK)
    CROSS JOIN (SELECT 'DAY' as ShiftName UNION SELECT 'NIGHT') s
    CROSS JOIN #ActiveItems ai
    WHERE c.calendar_date >= @StartDate AND c.calendar_date <= @EndDate;

    SELECT 
        fs.p_date, fs.p_shift, fs.p_line, fs.p_item, fs.shift_order,
        ISNULL(p.plan_id, 0) as plan_id,
        ISNULL(p.original_planned_quantity, 0) as original_qty,
        ISNULL(a.ActualQty, 0) as actual_qty
    INTO #CalcQueue
    FROM #FullSchedule fs
    LEFT JOIN dbo.PRODUCTION_PLANS p WITH (NOLOCK) ON fs.p_date = p.plan_date AND fs.p_line = p.line AND fs.p_shift = p.shift AND fs.p_item = p.item_id
    LEFT JOIN #ActualSummary a ON fs.p_date = a.ActualDate AND fs.p_line = a.ActualLine AND fs.p_shift = a.ActualShift AND fs.p_item = a.ActualItemId
    ORDER BY fs.p_line, fs.p_item, fs.p_date, fs.shift_order;

    DECLARE @currDate DATE, @currShift NVARCHAR(10), @currLine NVARCHAR(50), @currItem INT, @currPlanID INT;
    DECLARE @orig DECIMAL(18,2), @act DECIMAL(18,2);
    DECLARE @runningBacklog DECIMAL(18,2) = 0;
    DECLARE @prevKey NVARCHAR(100) = '';
    DECLARE @currKey NVARCHAR(100);

    DECLARE c CURSOR LOCAL FAST_FORWARD FOR 
        SELECT p_date, p_shift, p_line, p_item, plan_id, original_qty, actual_qty 
        FROM #CalcQueue ORDER BY p_line, p_item, p_date, shift_order; 

    OPEN c;
    FETCH NEXT FROM c INTO @currDate, @currShift, @currLine, @currItem, @currPlanID, @orig, @act;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @currKey = @currLine + '_' + CAST(@currItem AS NVARCHAR);

        IF @currKey <> @prevKey
        BEGIN
            SET @runningBacklog = 0;
            SET @prevKey = @currKey;
        END

        IF @currPlanID > 0
        BEGIN
            UPDATE dbo.PRODUCTION_PLANS 
            SET carry_over_quantity = @runningBacklog, updated_at = GETDATE(), updated_by = 'System_RunningBalance'
            WHERE plan_id = @currPlanID;
        END
        ELSE IF (@runningBacklog <> 0 OR @act > 0)
        BEGIN
            INSERT INTO dbo.PRODUCTION_PLANS (plan_date, line, shift, item_id, original_planned_quantity, carry_over_quantity, note, created_at, updated_by)
            VALUES (@currDate, @currLine, @currShift, @currItem, 0, @runningBacklog, 'Auto C/O (Bridge)', GETDATE(), 'System_RunningBalance');
        END

        SET @runningBacklog = (@runningBacklog + @orig) - @act;

        FETCH NEXT FROM c INTO @currDate, @currShift, @currLine, @currItem, @currPlanID, @orig, @act;
    END

    CLOSE c;
    DEALLOCATE c;

    DROP TABLE #ActualSummary;
    DROP TABLE #ActiveItems;
    DROP TABLE #FullSchedule;
    DROP TABLE #CalcQueue;
END
GO
