USE [master]
GO
/****** Object:  Database [IIOT_TOOLBOX]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE DATABASE [IIOT_TOOLBOX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IIOT_TOOLBOX', FILENAME = N'D:\DB_IIOT_TOOLBOX\DATA\IIOT_TOOLBOX.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IIOT_TOOLBOX_log', FILENAME = N'D:\DB_IIOT_TOOLBOX\LOG\IIOT_TOOLBOX_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IIOT_TOOLBOX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IIOT_TOOLBOX]
GO
USE [IIOT_TOOLBOX]
GO
/****** Object:  User [TOOLBOX]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE USER [TOOLBOX] FOR LOGIN [TOOLBOX] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [TOOLBOX]
GO
/****** Object:  Table [dbo].[STOP_CAUSES]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOP_CAUSES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[log_date] [date] NOT NULL,
	[stop_begin] [datetime] NOT NULL,
	[stop_end] [datetime] NOT NULL,
	[line] [nvarchar](50) NOT NULL,
	[machine] [nvarchar](50) NOT NULL,
	[cause] [nvarchar](255) NOT NULL,
	[note] [nvarchar](255) NOT NULL,
	[recovered_by] [nvarchar](100) NOT NULL,
	[duration]  AS (datediff(minute,[stop_begin],[stop_end])) PERSISTED,
 CONSTRAINT [PK_IOT_TOOLBOX_STOP_CAUSES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StopByMachine]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_StopByMachine] AS SELECT line, machine, COUNT(*) AS stop_count, SUM(duration) AS total_minutes FROM dbo.STOP_CAUSES GROUP BY line, machine;
GO
/****** Object:  View [dbo].[vw_Stop_Cause_Summary]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- === 1. Update View: vw_Stop_Cause_Summary ===
CREATE VIEW [dbo].[vw_Stop_Cause_Summary] AS
SELECT
    CAST(DATEADD(HOUR, -8, stop_begin) AS DATE) AS ProductionDate, -- Apply 8-hr shift
    line,
    machine,
    cause,
    SUM(DATEDIFF(MINUTE, stop_begin, stop_end)) AS total_minutes
FROM
    dbo.STOP_CAUSES
GROUP BY
    CAST(DATEADD(HOUR, -8, stop_begin) AS DATE), -- Apply 8-hr shift
    line,
    machine,
    cause;
GO
/****** Object:  Table [dbo].[STOP_CAUSES_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOP_CAUSES_TEST](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[log_date] [date] NOT NULL,
	[stop_begin] [datetime] NOT NULL,
	[stop_end] [datetime] NOT NULL,
	[line] [nvarchar](50) NOT NULL,
	[machine] [nvarchar](50) NOT NULL,
	[cause] [nvarchar](255) NOT NULL,
	[note] [nvarchar](255) NOT NULL,
	[recovered_by] [nvarchar](100) NOT NULL,
	[duration]  AS (datediff(minute,[stop_begin],[stop_end])) PERSISTED,
 CONSTRAINT [PK_IOT_TOOLBOX_STOP_CAUSES_TEST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Stop_Cause_Summary_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ใช้ CREATE VIEW แทน ALTER VIEW
CREATE VIEW [dbo].[vw_Stop_Cause_Summary_TEST] AS
SELECT
    CAST(DATEADD(HOUR, -8, stop_begin) AS DATE) AS ProductionDate, 
    line,
    machine,
    cause,
    SUM(DATEDIFF(MINUTE, stop_begin, stop_end)) AS total_minutes
FROM
    dbo.STOP_CAUSES_TEST 
GROUP BY
    CAST(DATEADD(HOUR, -8, stop_begin) AS DATE), 
    line,
    machine,
    cause;
GO
/****** Object:  View [dbo].[vw_DailyPartSummary]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_DailyPartSummary] AS SELECT log_date, model, part_no, count_type, SUM(count_value) AS total_count FROM dbo.PARTS GROUP BY log_date, model, part_no, count_type;
GO
/****** Object:  View [dbo].[vw_LatestPartCounts]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_LatestPartCounts] AS SELECT line, model, part_no, MAX(log_date) AS last_date, SUM(CASE WHEN count_type = 'FG' THEN count_value ELSE 0 END) AS FG, SUM(CASE WHEN count_type = 'NG' THEN count_value ELSE 0 END) AS NG FROM dbo.PARTS GROUP BY line, model, part_no;
GO
/****** Object:  Table [dbo].[DOCUMENT_ACCESS_LOGS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_ACCESS_LOGS](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[access_timestamp] [datetime] NOT NULL,
	[ip_address] [varchar](45) NOT NULL,
 CONSTRAINT [PK_DOCUMENT_ACCESS_LOGS] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_ACCESS_LOGS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_ACCESS_LOGS_TEST](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[access_timestamp] [datetime] NOT NULL,
	[ip_address] [varchar](45) NOT NULL,
 CONSTRAINT [PK_DOCUMENT_ACCESS_LOGS_TEST] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_description] [nvarchar](500) NULL,
	[file_path] [nvarchar](500) NOT NULL,
	[file_type] [varchar](100) NOT NULL,
	[file_size] [int] NOT NULL,
	[category] [nvarchar](100) NULL,
	[uploaded_by_user_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_DOCUMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTS_TEST](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_description] [nvarchar](500) NULL,
	[file_path] [nvarchar](500) NOT NULL,
	[file_type] [varchar](100) NOT NULL,
	[file_size] [int] NOT NULL,
	[category] [nvarchar](100) NULL,
	[uploaded_by_user_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_DOCUMENTS_TEST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORY_ONHAND]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_ONHAND](
	[onhand_id] [int] IDENTITY(1,1) NOT NULL,
	[parameter_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[quantity] [decimal](18, 6) NULL,
	[last_updated] [datetime] NOT NULL,
 CONSTRAINT [PK_INVENTORY_ONHAND] PRIMARY KEY CLUSTERED 
(
	[onhand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_inventory_part_location] UNIQUE NONCLUSTERED 
(
	[parameter_id] ASC,
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORY_ONHAND_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_ONHAND_TEST](
	[onhand_id] [int] IDENTITY(1,1) NOT NULL,
	[parameter_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[quantity] [decimal](18, 6) NULL,
	[last_updated] [datetime] NOT NULL,
 CONSTRAINT [PK_INVENTORY_ONHAND_TEST] PRIMARY KEY CLUSTERED 
(
	[onhand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_inventory_part_location_TEST] UNIQUE NONCLUSTERED 
(
	[parameter_id] ASC,
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEMS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEMS](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[sap_no] [varchar](100) NOT NULL,
	[part_no] [varchar](100) NOT NULL,
	[part_description] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[planned_output] [int] NOT NULL,
	[min_stock] [decimal](18, 6) NOT NULL,
	[max_stock] [decimal](18, 6) NOT NULL,
	[is_tracking] [bit] NOT NULL,
	[Cost_RM] [decimal](18, 6) NOT NULL,
	[Cost_PKG] [decimal](18, 6) NOT NULL,
	[Cost_SUB] [decimal](18, 6) NOT NULL,
	[Cost_DL] [decimal](18, 6) NOT NULL,
	[Cost_OH_Machine] [decimal](18, 6) NOT NULL,
	[Cost_OH_Utilities] [decimal](18, 6) NOT NULL,
	[Cost_OH_Indirect] [decimal](18, 6) NOT NULL,
	[Cost_OH_Staff] [decimal](18, 6) NOT NULL,
	[Cost_OH_Accessory] [decimal](18, 6) NOT NULL,
	[Cost_OH_Others] [decimal](18, 6) NOT NULL,
	[Cost_Total] [decimal](18, 6) NOT NULL,
	[StandardPrice] [decimal](18, 6) NOT NULL,
	[StandardGP] [decimal](18, 6) NOT NULL,
	[Price_USD] [decimal](18, 6) NOT NULL,
 CONSTRAINT [PK_ITEMS] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_sap_no] UNIQUE NONCLUSTERED 
(
	[sap_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEMS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEMS_TEST](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[sap_no] [varchar](100) NOT NULL,
	[part_no] [varchar](100) NOT NULL,
	[part_description] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[planned_output] [int] NOT NULL,
	[min_stock] [decimal](18, 6) NOT NULL,
	[max_stock] [decimal](18, 6) NOT NULL,
	[is_tracking] [bit] NOT NULL,
	[Cost_RM] [decimal](18, 6) NOT NULL,
	[Cost_PKG] [decimal](18, 6) NOT NULL,
	[Cost_SUB] [decimal](18, 6) NOT NULL,
	[Cost_DL] [decimal](18, 6) NOT NULL,
	[Cost_OH_Machine] [decimal](18, 6) NOT NULL,
	[Cost_OH_Utilities] [decimal](18, 6) NOT NULL,
	[Cost_OH_Indirect] [decimal](18, 6) NOT NULL,
	[Cost_OH_Staff] [decimal](18, 6) NOT NULL,
	[Cost_OH_Accessory] [decimal](18, 6) NOT NULL,
	[Cost_OH_Others] [decimal](18, 6) NOT NULL,
	[Cost_Total] [decimal](18, 6) NOT NULL,
	[StandardPrice] [decimal](18, 6) NOT NULL,
	[StandardGP] [decimal](18, 6) NOT NULL,
	[Price_USD] [decimal](18, 6) NOT NULL,
 CONSTRAINT [PK_ITEMS_TEST] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_sap_no_TEST] UNIQUE NONCLUSTERED 
(
	[sap_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_ORDERS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_ORDERS](
	[job_order_id] [int] IDENTITY(1,1) NOT NULL,
	[job_order_number] [varchar](50) NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity_required] [decimal](10, 2) NOT NULL,
	[due_date] [date] NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[completed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[job_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[job_order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_ORDERS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_ORDERS_TEST](
	[job_order_id] [int] IDENTITY(1,1) NOT NULL,
	[job_order_number] [varchar](50) NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity_required] [decimal](10, 2) NOT NULL,
	[due_date] [date] NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[completed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[job_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[job_order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINE_SCHEDULES]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINE_SCHEDULES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[line] [varchar](50) NOT NULL,
	[shift_name] [varchar](50) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[planned_break_minutes] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_IOT_TOOLBOX_LINE_SCHEDULES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINE_SCHEDULES_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINE_SCHEDULES_TEST](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[line] [varchar](50) NOT NULL,
	[shift_name] [varchar](50) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[planned_break_minutes] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_IOT_TOOLBOX_LINE_SCHEDULES_TEST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATIONS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATIONS](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[location_name] [varchar](100) NOT NULL,
	[location_description] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[production_line] [varchar](50) NULL,
	[location_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOCATIONS] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_location_name] UNIQUE NONCLUSTERED 
(
	[location_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATIONS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATIONS_TEST](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[location_name] [varchar](100) NOT NULL,
	[location_description] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[production_line] [varchar](50) NULL,
	[location_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOCATIONS_TEST] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_location_name_TEST] UNIQUE NONCLUSTERED 
(
	[location_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANUFACTURING_ROUTES]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANUFACTURING_ROUTES](
	[route_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[line] [varchar](50) NOT NULL,
	[model] [varchar](100) NOT NULL,
	[planned_output] [int] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_MANUFACTURING_ROUTES] PRIMARY KEY CLUSTERED 
(
	[route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_route_item_line_model] UNIQUE NONCLUSTERED 
(
	[item_id] ASC,
	[line] ASC,
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANUFACTURING_ROUTES_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANUFACTURING_ROUTES_TEST](
	[route_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[line] [varchar](50) NOT NULL,
	[model] [varchar](100) NOT NULL,
	[planned_output] [int] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_MANUFACTURING_ROUTES_TEST] PRIMARY KEY CLUSTERED 
(
	[route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_route_item_line_model_TEST] UNIQUE NONCLUSTERED 
(
	[item_id] ASC,
	[line] ASC,
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT_INVENTORY_ONHAND]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_INVENTORY_ONHAND](
	[onhand_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[quantity] [decimal](18, 4) NOT NULL,
	[last_updated] [datetime] NOT NULL,
 CONSTRAINT [PK_MT_INVENTORY_ONHAND] PRIMARY KEY CLUSTERED 
(
	[onhand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MT_Onhand_ItemLocation] UNIQUE NONCLUSTERED 
(
	[item_id] ASC,
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT_INVENTORY_ONHAND_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_INVENTORY_ONHAND_TEST](
	[onhand_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[quantity] [decimal](18, 4) NOT NULL,
	[last_updated] [datetime] NOT NULL,
 CONSTRAINT [PK_MT_INVENTORY_ONHAND_TEST] PRIMARY KEY CLUSTERED 
(
	[onhand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MT_Onhand_ItemLocation_TEST] UNIQUE NONCLUSTERED 
(
	[item_id] ASC,
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT_ITEMS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_ITEMS](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_code] [nvarchar](100) NOT NULL,
	[item_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](500) NULL,
	[supplier] [nvarchar](255) NULL,
	[min_stock] [decimal](18, 4) NOT NULL,
	[max_stock] [decimal](18, 4) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_MT_ITEMS] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MT_ITEMS_item_code] UNIQUE NONCLUSTERED 
(
	[item_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT_ITEMS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_ITEMS_TEST](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_code] [nvarchar](100) NOT NULL,
	[item_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](500) NULL,
	[supplier] [nvarchar](255) NULL,
	[min_stock] [decimal](18, 4) NOT NULL,
	[max_stock] [decimal](18, 4) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_MT_ITEMS_TEST] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MT_ITEMS_item_code_TEST] UNIQUE NONCLUSTERED 
(
	[item_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT_LOCATIONS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_LOCATIONS](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[location_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
 CONSTRAINT [PK_MT_LOCATIONS] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MT_LOCATIONS_name] UNIQUE NONCLUSTERED 
(
	[location_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT_LOCATIONS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_LOCATIONS_TEST](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[location_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
 CONSTRAINT [PK_MT_LOCATIONS_TEST] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MT_LOCATIONS_name_TEST] UNIQUE NONCLUSTERED 
(
	[location_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT_TRANSACTIONS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_TRANSACTIONS](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity] [decimal](18, 4) NOT NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[created_by_user_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_MT_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT_TRANSACTIONS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_TRANSACTIONS_TEST](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity] [decimal](18, 4) NOT NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[created_by_user_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_MT_TRANSACTIONS_TEST] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_BOM]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_BOM](
	[bom_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity_required] [decimal](18, 6) NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime] NULL,
	[fg_item_id] [int] NULL,
	[component_item_id] [int] NULL,
 CONSTRAINT [PK_PRODUCT_BOM] PRIMARY KEY CLUSTERED 
(
	[bom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_bom_unique_component_simple] UNIQUE NONCLUSTERED 
(
	[fg_item_id] ASC,
	[component_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_BOM_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_BOM_TEST](
	[bom_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity_required] [decimal](18, 6) NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime] NULL,
	[line] [varchar](50) NOT NULL,
	[model] [varchar](100) NOT NULL,
	[fg_item_id] [int] NULL,
	[component_item_id] [int] NULL,
 CONSTRAINT [PK_PRODUCT_BOM_TEST] PRIMARY KEY CLUSTERED 
(
	[bom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_bom_test_unique_component] UNIQUE NONCLUSTERED 
(
	[fg_item_id] ASC,
	[component_item_id] ASC,
	[line] ASC,
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK_TRANSACTIONS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK_TRANSACTIONS](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[parameter_id] [int] NOT NULL,
	[quantity] [decimal](18, 6) NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[transaction_timestamp] [datetime] NOT NULL,
	[from_location_id] [int] NULL,
	[to_location_id] [int] NULL,
	[reference_id] [varchar](255) NULL,
	[created_by_user_id] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
 CONSTRAINT [PK_STOCK_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK_TRANSACTIONS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK_TRANSACTIONS_TEST](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[parameter_id] [int] NOT NULL,
	[quantity] [decimal](18, 6) NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[transaction_timestamp] [datetime] NOT NULL,
	[from_location_id] [int] NULL,
	[to_location_id] [int] NULL,
	[reference_id] [varchar](255) NULL,
	[created_by_user_id] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
 CONSTRAINT [PK_STOCK_TRANSACTIONS_TEST] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_LOGS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_LOGS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_by] [varchar](100) NULL,
	[action_type] [varchar](20) NULL,
	[target_user] [varchar](100) NULL,
	[detail] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_IOT_TOOLBOX_USER_LOGS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_LOGS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_LOGS_TEST](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_by] [varchar](100) NULL,
	[action_type] [varchar](20) NULL,
	[target_user] [varchar](100) NULL,
	[detail] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_IOT_TOOLBOX_USER_LOGS_TEST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[line] [varchar](50) NULL,
 CONSTRAINT [PK_IOT_TOOLBOX_USERS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_IOT_TOOLBOX_USERS_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS_TEST]    Script Date: 24/10/2025 2:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_TEST](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[line] [varchar](50) NULL,
 CONSTRAINT [PK_IOT_TOOLBOX_USERS_TEST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_IOT_TOOLBOX_USERS_username_TEST] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_item_id]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE NONCLUSTERED INDEX [idx_item_id] ON [dbo].[JOB_ORDERS]
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_job_orders_completed_at]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE NONCLUSTERED INDEX [idx_job_orders_completed_at] ON [dbo].[JOB_ORDERS]
(
	[completed_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_job_orders_created_at]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE NONCLUSTERED INDEX [idx_job_orders_created_at] ON [dbo].[JOB_ORDERS]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_status]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE NONCLUSTERED INDEX [idx_status] ON [dbo].[JOB_ORDERS]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_item_id_test]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE NONCLUSTERED INDEX [idx_item_id_test] ON [dbo].[JOB_ORDERS_TEST]
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_job_orders_test_completed_at]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE NONCLUSTERED INDEX [idx_job_orders_test_completed_at] ON [dbo].[JOB_ORDERS_TEST]
(
	[completed_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_job_orders_test_created_at]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE NONCLUSTERED INDEX [idx_job_orders_test_created_at] ON [dbo].[JOB_ORDERS_TEST]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_status_test]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE NONCLUSTERED INDEX [idx_status_test] ON [dbo].[JOB_ORDERS_TEST]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_line_shift]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_line_shift] ON [dbo].[LINE_SCHEDULES]
(
	[line] ASC,
	[shift_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_stop_date]    Script Date: 24/10/2025 2:09:06 PM ******/
CREATE NONCLUSTERED INDEX [idx_stop_date] ON [dbo].[STOP_CAUSES]
(
	[log_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOCUMENT_ACCESS_LOGS] ADD  CONSTRAINT [DF_DOCUMENT_ACCESS_LOGS_access_timestamp]  DEFAULT (getdate()) FOR [access_timestamp]
GO
ALTER TABLE [dbo].[DOCUMENT_ACCESS_LOGS_TEST] ADD  CONSTRAINT [DF_DOCUMENT_ACCESS_LOGS_access_timestamp_TEST]  DEFAULT (getdate()) FOR [access_timestamp]
GO
ALTER TABLE [dbo].[DOCUMENTS] ADD  CONSTRAINT [DF_DOCUMENTS_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DOCUMENTS_TEST] ADD  CONSTRAINT [DF_DOCUMENTS_created_at_TEST]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND] ADD  CONSTRAINT [DF_INVENTORY_ONHAND_quantity]  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND_TEST] ADD  CONSTRAINT [DF_INVENTORY_ONHAND_TEST_quantity]  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND_TEST] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT ((0)) FOR [planned_output]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT ((0)) FOR [min_stock]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT ((0)) FOR [max_stock]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_is_tracking_v2]  DEFAULT ((0)) FOR [is_tracking]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_RM]  DEFAULT ((0)) FOR [Cost_RM]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_PKG]  DEFAULT ((0)) FOR [Cost_PKG]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_SUB]  DEFAULT ((0)) FOR [Cost_SUB]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_DL]  DEFAULT ((0)) FOR [Cost_DL]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Machine]  DEFAULT ((0)) FOR [Cost_OH_Machine]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Utilities]  DEFAULT ((0)) FOR [Cost_OH_Utilities]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Indirect]  DEFAULT ((0)) FOR [Cost_OH_Indirect]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Staff]  DEFAULT ((0)) FOR [Cost_OH_Staff]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Accessory]  DEFAULT ((0)) FOR [Cost_OH_Accessory]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_OH_Others]  DEFAULT ((0)) FOR [Cost_OH_Others]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Cost_Total]  DEFAULT ((0)) FOR [Cost_Total]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_StandardPrice]  DEFAULT ((0)) FOR [StandardPrice]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_StandardGP]  DEFAULT ((0)) FOR [StandardGP]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_Price_USD]  DEFAULT ((0)) FOR [Price_USD]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  DEFAULT ((0)) FOR [planned_output]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  DEFAULT ((0)) FOR [min_stock]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  DEFAULT ((0)) FOR [max_stock]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_is_tracking_v2]  DEFAULT ((0)) FOR [is_tracking]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_RM]  DEFAULT ((0)) FOR [Cost_RM]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_PKG]  DEFAULT ((0)) FOR [Cost_PKG]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_SUB]  DEFAULT ((0)) FOR [Cost_SUB]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_DL]  DEFAULT ((0)) FOR [Cost_DL]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_OH_Machine]  DEFAULT ((0)) FOR [Cost_OH_Machine]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_OH_Utilities]  DEFAULT ((0)) FOR [Cost_OH_Utilities]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_OH_Indirect]  DEFAULT ((0)) FOR [Cost_OH_Indirect]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_OH_Staff]  DEFAULT ((0)) FOR [Cost_OH_Staff]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_OH_Accessory]  DEFAULT ((0)) FOR [Cost_OH_Accessory]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_OH_Others]  DEFAULT ((0)) FOR [Cost_OH_Others]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Cost_Total]  DEFAULT ((0)) FOR [Cost_Total]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_StandardPrice]  DEFAULT ((0)) FOR [StandardPrice]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_StandardGP]  DEFAULT ((0)) FOR [StandardGP]
GO
ALTER TABLE [dbo].[ITEMS_TEST] ADD  CONSTRAINT [DF_ITEMS_TEST_Price_USD]  DEFAULT ((0)) FOR [Price_USD]
GO
ALTER TABLE [dbo].[JOB_ORDERS] ADD  CONSTRAINT [DF_job_orders_status]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[JOB_ORDERS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[JOB_ORDERS_TEST] ADD  CONSTRAINT [DF_JOB_ORDERS_TEST_status]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[JOB_ORDERS_TEST] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[LINE_SCHEDULES] ADD  CONSTRAINT [DF_schedules_planned_break]  DEFAULT ((0)) FOR [planned_break_minutes]
GO
ALTER TABLE [dbo].[LINE_SCHEDULES] ADD  CONSTRAINT [DF_schedules_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[LINE_SCHEDULES_TEST] ADD  CONSTRAINT [DF_schedules_planned_break_TEST]  DEFAULT ((0)) FOR [planned_break_minutes]
GO
ALTER TABLE [dbo].[LINE_SCHEDULES_TEST] ADD  CONSTRAINT [DF_schedules_is_active_TEST]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[LOCATIONS] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[LOCATIONS] ADD  DEFAULT ('WIP') FOR [location_type]
GO
ALTER TABLE [dbo].[LOCATIONS_TEST] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[LOCATIONS_TEST] ADD  DEFAULT ('WIP') FOR [location_type]
GO
ALTER TABLE [dbo].[MANUFACTURING_ROUTES] ADD  DEFAULT ((0)) FOR [planned_output]
GO
ALTER TABLE [dbo].[MANUFACTURING_ROUTES] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[MANUFACTURING_ROUTES_TEST] ADD  DEFAULT ((0)) FOR [planned_output]
GO
ALTER TABLE [dbo].[MANUFACTURING_ROUTES_TEST] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND_TEST] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND_TEST] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[MT_ITEMS] ADD  DEFAULT ((0)) FOR [min_stock]
GO
ALTER TABLE [dbo].[MT_ITEMS] ADD  DEFAULT ((0)) FOR [max_stock]
GO
ALTER TABLE [dbo].[MT_ITEMS] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[MT_ITEMS_TEST] ADD  DEFAULT ((0)) FOR [min_stock]
GO
ALTER TABLE [dbo].[MT_ITEMS_TEST] ADD  DEFAULT ((0)) FOR [max_stock]
GO
ALTER TABLE [dbo].[MT_ITEMS_TEST] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[MT_TRANSACTIONS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[MT_TRANSACTIONS_TEST] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PRODUCT_BOM] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST] ADD  DEFAULT ('DEFAULT') FOR [line]
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST] ADD  DEFAULT ('DEFAULT') FOR [model]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] ADD  DEFAULT (getdate()) FOR [transaction_timestamp]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST] ADD  DEFAULT (getdate()) FOR [transaction_timestamp]
GO
ALTER TABLE [dbo].[USER_LOGS] ADD  CONSTRAINT [DF_user_logs_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USER_LOGS_TEST] ADD  CONSTRAINT [DF_user_logs_created_at_TEST]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_users_role]  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USERS_TEST] ADD  CONSTRAINT [DF_users_role_TEST]  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[USERS_TEST] ADD  CONSTRAINT [DF_users_created_at_TEST]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DOCUMENT_ACCESS_LOGS]  WITH CHECK ADD  CONSTRAINT [FK_DOC_LOGS_DOCUMENTS] FOREIGN KEY([document_id])
REFERENCES [dbo].[DOCUMENTS] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DOCUMENT_ACCESS_LOGS] CHECK CONSTRAINT [FK_DOC_LOGS_DOCUMENTS]
GO
ALTER TABLE [dbo].[DOCUMENT_ACCESS_LOGS]  WITH CHECK ADD  CONSTRAINT [FK_DOC_LOGS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[DOCUMENT_ACCESS_LOGS] CHECK CONSTRAINT [FK_DOC_LOGS_USERS]
GO
ALTER TABLE [dbo].[DOCUMENT_ACCESS_LOGS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_DOC_LOGS_DOCUMENTS_TEST] FOREIGN KEY([document_id])
REFERENCES [dbo].[DOCUMENTS_TEST] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DOCUMENT_ACCESS_LOGS_TEST] CHECK CONSTRAINT [FK_DOC_LOGS_DOCUMENTS_TEST]
GO
ALTER TABLE [dbo].[DOCUMENT_ACCESS_LOGS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_DOC_LOGS_USERS_TEST] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS_TEST] ([id])
GO
ALTER TABLE [dbo].[DOCUMENT_ACCESS_LOGS_TEST] CHECK CONSTRAINT [FK_DOC_LOGS_USERS_TEST]
GO
ALTER TABLE [dbo].[DOCUMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTS_USERS] FOREIGN KEY([uploaded_by_user_id])
REFERENCES [dbo].[USERS] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DOCUMENTS] CHECK CONSTRAINT [FK_DOCUMENTS_USERS]
GO
ALTER TABLE [dbo].[DOCUMENTS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTS_USERS_TEST] FOREIGN KEY([uploaded_by_user_id])
REFERENCES [dbo].[USERS_TEST] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DOCUMENTS_TEST] CHECK CONSTRAINT [FK_DOCUMENTS_USERS_TEST]
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND]  WITH CHECK ADD  CONSTRAINT [FK_ONHAND_ITEMS] FOREIGN KEY([parameter_id])
REFERENCES [dbo].[ITEMS] ([item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND] CHECK CONSTRAINT [FK_ONHAND_ITEMS]
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND]  WITH CHECK ADD  CONSTRAINT [FK_ONHAND_LOCATION] FOREIGN KEY([location_id])
REFERENCES [dbo].[LOCATIONS] ([location_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND] CHECK CONSTRAINT [FK_ONHAND_LOCATION]
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND_TEST]  WITH CHECK ADD  CONSTRAINT [FK_ONHAND_ITEMS_TEST] FOREIGN KEY([parameter_id])
REFERENCES [dbo].[ITEMS_TEST] ([item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND_TEST] CHECK CONSTRAINT [FK_ONHAND_ITEMS_TEST]
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND_TEST]  WITH CHECK ADD  CONSTRAINT [FK_ONHAND_LOCATION_TEST] FOREIGN KEY([location_id])
REFERENCES [dbo].[LOCATIONS_TEST] ([location_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INVENTORY_ONHAND_TEST] CHECK CONSTRAINT [FK_ONHAND_LOCATION_TEST]
GO
ALTER TABLE [dbo].[MANUFACTURING_ROUTES]  WITH CHECK ADD  CONSTRAINT [FK_ROUTES_ITEMS] FOREIGN KEY([item_id])
REFERENCES [dbo].[ITEMS] ([item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MANUFACTURING_ROUTES] CHECK CONSTRAINT [FK_ROUTES_ITEMS]
GO
ALTER TABLE [dbo].[MANUFACTURING_ROUTES_TEST]  WITH CHECK ADD  CONSTRAINT [FK_ROUTES_ITEMS_TEST] FOREIGN KEY([item_id])
REFERENCES [dbo].[ITEMS_TEST] ([item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MANUFACTURING_ROUTES_TEST] CHECK CONSTRAINT [FK_ROUTES_ITEMS_TEST]
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND]  WITH CHECK ADD  CONSTRAINT [FK_MT_Onhand_Items] FOREIGN KEY([item_id])
REFERENCES [dbo].[MT_ITEMS] ([item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND] CHECK CONSTRAINT [FK_MT_Onhand_Items]
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND]  WITH CHECK ADD  CONSTRAINT [FK_MT_Onhand_Locations] FOREIGN KEY([location_id])
REFERENCES [dbo].[MT_LOCATIONS] ([location_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND] CHECK CONSTRAINT [FK_MT_Onhand_Locations]
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND_TEST]  WITH CHECK ADD  CONSTRAINT [FK_MT_Onhand_Items_TEST] FOREIGN KEY([item_id])
REFERENCES [dbo].[MT_ITEMS_TEST] ([item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND_TEST] CHECK CONSTRAINT [FK_MT_Onhand_Items_TEST]
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND_TEST]  WITH CHECK ADD  CONSTRAINT [FK_MT_Onhand_Locations_TEST] FOREIGN KEY([location_id])
REFERENCES [dbo].[MT_LOCATIONS_TEST] ([location_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MT_INVENTORY_ONHAND_TEST] CHECK CONSTRAINT [FK_MT_Onhand_Locations_TEST]
GO
ALTER TABLE [dbo].[MT_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_MT_Transactions_Items] FOREIGN KEY([item_id])
REFERENCES [dbo].[MT_ITEMS] ([item_id])
GO
ALTER TABLE [dbo].[MT_TRANSACTIONS] CHECK CONSTRAINT [FK_MT_Transactions_Items]
GO
ALTER TABLE [dbo].[MT_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_MT_Transactions_Users] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[MT_TRANSACTIONS] CHECK CONSTRAINT [FK_MT_Transactions_Users]
GO
ALTER TABLE [dbo].[MT_TRANSACTIONS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_MT_Transactions_Items_TEST] FOREIGN KEY([item_id])
REFERENCES [dbo].[MT_ITEMS_TEST] ([item_id])
GO
ALTER TABLE [dbo].[MT_TRANSACTIONS_TEST] CHECK CONSTRAINT [FK_MT_Transactions_Items_TEST]
GO
ALTER TABLE [dbo].[MT_TRANSACTIONS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_MT_Transactions_Users_TEST] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[USERS_TEST] ([id])
GO
ALTER TABLE [dbo].[MT_TRANSACTIONS_TEST] CHECK CONSTRAINT [FK_MT_Transactions_Users_TEST]
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST]  WITH CHECK ADD  CONSTRAINT [FK_BOM_Component_Item_TEST] FOREIGN KEY([component_item_id])
REFERENCES [dbo].[ITEMS_TEST] ([item_id])
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST] CHECK CONSTRAINT [FK_BOM_Component_Item_TEST]
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST]  WITH CHECK ADD  CONSTRAINT [FK_BOM_FG_Item_TEST] FOREIGN KEY([fg_item_id])
REFERENCES [dbo].[ITEMS_TEST] ([item_id])
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST] CHECK CONSTRAINT [FK_BOM_FG_Item_TEST]
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST]  WITH CHECK ADD  CONSTRAINT [FK_BOM_TEST_ITEMS_COMPONENT] FOREIGN KEY([component_item_id])
REFERENCES [dbo].[ITEMS_TEST] ([item_id])
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST] CHECK CONSTRAINT [FK_BOM_TEST_ITEMS_COMPONENT]
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST]  WITH CHECK ADD  CONSTRAINT [FK_BOM_TEST_ITEMS_FG] FOREIGN KEY([fg_item_id])
REFERENCES [dbo].[ITEMS_TEST] ([item_id])
GO
ALTER TABLE [dbo].[PRODUCT_BOM_TEST] CHECK CONSTRAINT [FK_BOM_TEST_ITEMS_FG]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_ITEMS] FOREIGN KEY([parameter_id])
REFERENCES [dbo].[ITEMS] ([item_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_ITEMS]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_LOCATIONS_FROM] FOREIGN KEY([from_location_id])
REFERENCES [dbo].[LOCATIONS] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_LOCATIONS_FROM]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_LOCATIONS_TO] FOREIGN KEY([to_location_id])
REFERENCES [dbo].[LOCATIONS] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_LOCATIONS_TO]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_USERS] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_USERS]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTIONS_ITEMS] FOREIGN KEY([parameter_id])
REFERENCES [dbo].[ITEMS] ([item_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_TRANSACTIONS_ITEMS]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTIONS_LOCATION_FROM] FOREIGN KEY([from_location_id])
REFERENCES [dbo].[LOCATIONS] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_TRANSACTIONS_LOCATION_FROM]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTIONS_LOCATION_TO] FOREIGN KEY([to_location_id])
REFERENCES [dbo].[LOCATIONS] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS] CHECK CONSTRAINT [FK_TRANSACTIONS_LOCATION_TO]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_TEST_ITEMS_TEST] FOREIGN KEY([parameter_id])
REFERENCES [dbo].[ITEMS_TEST] ([item_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_TEST_ITEMS_TEST]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_TEST_LOCATIONS_TEST_FROM] FOREIGN KEY([from_location_id])
REFERENCES [dbo].[LOCATIONS_TEST] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_TEST_LOCATIONS_TEST_FROM]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_TEST_LOCATIONS_TEST_TO] FOREIGN KEY([to_location_id])
REFERENCES [dbo].[LOCATIONS_TEST] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_TEST_LOCATIONS_TEST_TO]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TRANSACTIONS_TEST_USERS_TEST] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[USERS_TEST] ([id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST] CHECK CONSTRAINT [FK_STOCK_TRANSACTIONS_TEST_USERS_TEST]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTIONS_ITEMS_TEST] FOREIGN KEY([parameter_id])
REFERENCES [dbo].[ITEMS_TEST] ([item_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST] CHECK CONSTRAINT [FK_TRANSACTIONS_ITEMS_TEST]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTIONS_LOCATION_FROM_TEST] FOREIGN KEY([from_location_id])
REFERENCES [dbo].[LOCATIONS_TEST] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST] CHECK CONSTRAINT [FK_TRANSACTIONS_LOCATION_FROM_TEST]
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTIONS_LOCATION_TO_TEST] FOREIGN KEY([to_location_id])
REFERENCES [dbo].[LOCATIONS_TEST] ([location_id])
GO
ALTER TABLE [dbo].[STOCK_TRANSACTIONS_TEST] CHECK CONSTRAINT [FK_TRANSACTIONS_LOCATION_TO_TEST]
GO
ALTER TABLE [dbo].[JOB_ORDERS]  WITH CHECK ADD  CONSTRAINT [CK_job_orders_status] CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='IN_PROGRESS' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[JOB_ORDERS] CHECK CONSTRAINT [CK_job_orders_status]
GO
ALTER TABLE [dbo].[JOB_ORDERS_TEST]  WITH CHECK ADD  CONSTRAINT [CK_JOB_ORDERS_TEST_status] CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='IN_PROGRESS' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[JOB_ORDERS_TEST] CHECK CONSTRAINT [CK_JOB_ORDERS_TEST_status]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUser]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddUser] @username VARCHAR(100), @password NVARCHAR(255), @role VARCHAR(50) = 'user' AS BEGIN SET NOCOUNT ON; INSERT INTO USERS (username, password, role, created_at) VALUES (@username, @password, @role, GETDATE()); END
GO
/****** Object:  StoredProcedure [dbo].[sp_ApplyDBChanges]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ApplyDBChanges]
AS
BEGIN
    SET NOCOUNT ON;

    -- Change [PRODUCT_BOM].[quantity_required] from INT to DECIMAL
    IF EXISTS (
        SELECT 1
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE TABLE_NAME = 'PRODUCT_BOM'
          AND COLUMN_NAME = 'quantity_required'
          AND DATA_TYPE = 'int'
    )
    BEGIN
        ALTER TABLE dbo.PRODUCT_BOM
        ALTER COLUMN quantity_required DECIMAL(18, 8) NOT NULL;
        PRINT 'Updated [PRODUCT_BOM].[quantity_required] data type to DECIMAL(18, 8).';
    END

    PRINT 'Database changes applied successfully.';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateOEE_Dashboard_LineChart]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- === 2. Update SP: sp_CalculateOEE_Dashboard_LineChart ===
CREATE PROCEDURE [dbo].[sp_CalculateOEE_Dashboard_LineChart]
    @StartDate DATE,
    @EndDate DATE,
    @Line NVARCHAR(50) = NULL,
    @Model NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @DateSeries TABLE (LogDate DATE);
    DECLARE @CurrentDate DATE = @StartDate;
    WHILE @CurrentDate <= @EndDate BEGIN INSERT INTO @DateSeries (LogDate) VALUES (@CurrentDate); SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate); END;

    WITH DailyMetrics AS (
        SELECT d.LogDate, ISNULL(SUM(DATEDIFF(MINUTE, s.start_time, s.end_time) - s.planned_break_minutes), 0) AS PlannedMinutes
        FROM @DateSeries d LEFT JOIN dbo.LINE_SCHEDULES s ON s.is_active = 1 AND (@Line IS NULL OR s.line = @Line)
        GROUP BY d.LogDate
    ),
    DailyDowntime AS (
        SELECT
            CAST(DATEADD(HOUR, -8, stop_begin) AS DATE) as log_date, -- Apply 8-hr shift
            ISNULL(SUM(duration), 0) AS DowntimeMinutes
        FROM dbo.STOP_CAUSES
        WHERE
            CAST(DATEADD(HOUR, -8, stop_begin) AS DATE) BETWEEN @StartDate AND @EndDate -- Apply 8-hr shift
            AND (@Line IS NULL OR line = @Line)
        GROUP BY
            CAST(DATEADD(HOUR, -8, stop_begin) AS DATE) -- Apply 8-hr shift
    ),
    DailyProduction AS (
        SELECT
            CAST(DATEADD(HOUR, -8, t.transaction_timestamp) AS DATE) as LogDate, -- Apply 8-hr shift
            SUM(CASE WHEN t.transaction_type = 'PRODUCTION_FG' THEN t.quantity ELSE 0 END) AS GoodCount,
            SUM(t.quantity) AS TotalCount,
            SUM(t.quantity * (60.0 / NULLIF(r.planned_output, 0))) AS IdealRunTimeMinutes
        FROM dbo.STOCK_TRANSACTIONS t
        JOIN dbo.ITEMS i ON t.parameter_id = i.item_id
        JOIN dbo.LOCATIONS l ON t.to_location_id = l.location_id
        JOIN dbo.MANUFACTURING_ROUTES r ON t.parameter_id = r.item_id AND l.production_line = r.line
        WHERE
            CAST(DATEADD(HOUR, -8, t.transaction_timestamp) AS DATE) BETWEEN @StartDate AND @EndDate -- Apply 8-hr shift
            AND t.transaction_type LIKE 'PRODUCTION_%' AND r.planned_output > 0
            AND (@Line IS NULL OR l.production_line = @Line)
            AND (@Model IS NULL OR r.model = @Model)
        GROUP BY
            CAST(DATEADD(HOUR, -8, t.transaction_timestamp) AS DATE) -- Apply 8-hr shift
    )
    SELECT
        ds.LogDate AS [date],
        CAST(ISNULL(a.Availability, 0) AS DECIMAL(5, 1)) AS availability,
        CAST(ISNULL(p.Performance, 0) AS DECIMAL(5, 1)) AS performance,
        CAST(ISNULL(q.Quality, 0) AS DECIMAL(5, 1)) AS quality,
        CAST(ISNULL(a.Availability / 100.0 * p.Performance / 100.0 * q.Quality / 100.0 * 100.0, 0) AS DECIMAL(5, 1)) AS oee
    FROM @DateSeries ds
    LEFT JOIN DailyMetrics dm ON ds.LogDate = dm.LogDate
    LEFT JOIN DailyDowntime dd ON ds.LogDate = dd.log_date
    LEFT JOIN DailyProduction dp ON ds.LogDate = dp.LogDate
    CROSS APPLY (SELECT CASE WHEN dm.PlannedMinutes > 0 THEN (dm.PlannedMinutes - ISNULL(dd.DowntimeMinutes, 0)) / dm.PlannedMinutes * 100.0 ELSE 0 END AS Availability) a
    CROSS APPLY (SELECT CASE WHEN (dm.PlannedMinutes - ISNULL(dd.DowntimeMinutes, 0)) > 0 THEN CASE WHEN (dp.IdealRunTimeMinutes / (dm.PlannedMinutes - ISNULL(dd.DowntimeMinutes, 0))) * 100.0 > 100.0 THEN 100.0 ELSE (dp.IdealRunTimeMinutes / (dm.PlannedMinutes - ISNULL(dd.DowntimeMinutes, 0))) * 100.0 END ELSE 0 END AS Performance) p
    CROSS APPLY (SELECT CASE WHEN dp.TotalCount > 0 THEN (dp.GoodCount / dp.TotalCount) * 100.0 ELSE 0 END AS Quality) q
    ORDER BY ds.LogDate;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateOEE_Dashboard_LineChart_TEST]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ใช้ CREATE PROCEDURE แทน ALTER PROCEDURE
CREATE PROCEDURE [dbo].[sp_CalculateOEE_Dashboard_LineChart_TEST]
    @StartDate DATE,
    @EndDate DATE,
    @Line NVARCHAR(50) = NULL,
    @Model NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DateSeries TABLE (LogDate DATE);
    DECLARE @CurrentDate DATE = @StartDate;
    WHILE @CurrentDate <= @EndDate BEGIN INSERT INTO @DateSeries (LogDate) VALUES (@CurrentDate); SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate); END;

    WITH DailyMetrics AS (
        SELECT d.LogDate, ISNULL(SUM(DATEDIFF(MINUTE, s.start_time, s.end_time) - s.planned_break_minutes), 0) AS PlannedMinutes
        FROM @DateSeries d LEFT JOIN dbo.LINE_SCHEDULES_TEST s ON s.is_active = 1 AND (@Line IS NULL OR s.line = @Line)
        GROUP BY d.LogDate
    ),
    DailyDowntime AS (
        SELECT
            CAST(DATEADD(HOUR, -8, stop_begin) AS DATE) as log_date, 
            ISNULL(SUM(duration), 0) AS DowntimeMinutes
        FROM dbo.STOP_CAUSES_TEST
        WHERE
            CAST(DATEADD(HOUR, -8, stop_begin) AS DATE) BETWEEN @StartDate AND @EndDate
            AND (@Line IS NULL OR line = @Line)
        GROUP BY
            CAST(DATEADD(HOUR, -8, stop_begin) AS DATE)
    ),
    DailyProduction AS (
        SELECT
            CAST(DATEADD(HOUR, -8, t.transaction_timestamp) AS DATE) as LogDate, 
            SUM(CASE WHEN t.transaction_type = 'PRODUCTION_FG' THEN t.quantity ELSE 0 END) AS GoodCount,
            SUM(t.quantity) AS TotalCount,
            SUM(t.quantity * (60.0 / NULLIF(r.planned_output, 0))) AS IdealRunTimeMinutes
        FROM dbo.STOCK_TRANSACTIONS_TEST t 
        JOIN dbo.ITEMS_TEST i ON t.parameter_id = i.item_id 
        JOIN dbo.LOCATIONS_TEST l ON t.to_location_id = l.location_id 
        JOIN dbo.MANUFACTURING_ROUTES_TEST r ON t.parameter_id = r.item_id AND l.production_line = r.line 
        WHERE
            CAST(DATEADD(HOUR, -8, t.transaction_timestamp) AS DATE) BETWEEN @StartDate AND @EndDate 
            AND t.transaction_type LIKE 'PRODUCTION_%' AND r.planned_output > 0
            AND (@Line IS NULL OR l.production_line = @Line)
            AND (@Model IS NULL OR r.model = @Model)
        GROUP BY
            CAST(DATEADD(HOUR, -8, t.transaction_timestamp) AS DATE) 
    )
    SELECT
        ds.LogDate AS [date],
        CAST(ISNULL(a.Availability, 0) AS DECIMAL(5, 1)) AS availability,
        CAST(ISNULL(p.Performance, 0) AS DECIMAL(5, 1)) AS performance,
        CAST(ISNULL(q.Quality, 0) AS DECIMAL(5, 1)) AS quality,
        CAST(ISNULL(a.Availability / 100.0 * p.Performance / 100.0 * q.Quality / 100.0 * 100.0, 0) AS DECIMAL(5, 1)) AS oee
    FROM @DateSeries ds
    LEFT JOIN DailyMetrics dm ON ds.LogDate = dm.LogDate
    LEFT JOIN DailyDowntime dd ON ds.LogDate = dd.log_date
    LEFT JOIN DailyProduction dp ON ds.LogDate = dp.LogDate
    CROSS APPLY (SELECT CASE WHEN dm.PlannedMinutes > 0 THEN (dm.PlannedMinutes - ISNULL(dd.DowntimeMinutes, 0)) / dm.PlannedMinutes * 100.0 ELSE 0 END AS Availability) a
    CROSS APPLY (SELECT CASE WHEN (dm.PlannedMinutes - ISNULL(dd.DowntimeMinutes, 0)) > 0 THEN CASE WHEN (dp.IdealRunTimeMinutes / (dm.PlannedMinutes - ISNULL(dd.DowntimeMinutes, 0))) * 100.0 > 100.0 THEN 100.0 ELSE (dp.IdealRunTimeMinutes / (dm.PlannedMinutes - ISNULL(dd.DowntimeMinutes, 0))) * 100.0 END ELSE 0 END AS Performance) p
    CROSS APPLY (SELECT CASE WHEN dp.TotalCount > 0 THEN (dp.GoodCount / dp.TotalCount) * 100.0 ELSE 0 END AS Quality) q
    ORDER BY ds.LogDate;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateOEE_Dashboard_PieChart]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CalculateOEE_Dashboard_PieChart]
    @StartDate DATE,
    @EndDate DATE,
    @Line NVARCHAR(50) = NULL,
    @Model NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ActualEndDate DATETIME = DATEADD(DAY, 1, @EndDate);

    -- STEP 1: Availability
    DECLARE @TotalPlannedMinutes FLOAT;
    WITH ProductionEvents AS (
        SELECT DISTINCT
            CAST(DATEADD(HOUR, -8, t.transaction_timestamp) AS DATE) AS ProdDate, -- Apply 8-hr shift
            l.production_line AS ProdLine
        FROM dbo.STOCK_TRANSACTIONS t JOIN dbo.LOCATIONS l ON t.to_location_id = l.location_id
        WHERE
            DATEADD(HOUR, -8, t.transaction_timestamp) >= @StartDate -- Apply 8-hr shift
            AND DATEADD(HOUR, -8, t.transaction_timestamp) < @ActualEndDate -- Apply 8-hr shift
            AND t.transaction_type LIKE 'PRODUCTION_%' AND l.production_line IS NOT NULL
            AND (@Line IS NULL OR l.production_line = @Line)
    )
    SELECT @TotalPlannedMinutes = ISNULL(SUM(
        CASE WHEN s.end_time >= s.start_time THEN DATEDIFF(MINUTE, s.start_time, s.end_time) ELSE DATEDIFF(MINUTE, s.start_time, s.end_time) + 1440 END - s.planned_break_minutes
    ), 0)
    FROM ProductionEvents pe JOIN dbo.LINE_SCHEDULES s ON pe.ProdLine = s.line
    WHERE s.is_active = 1;

    DECLARE @TotalDowntimeMinutes FLOAT;
    SELECT @TotalDowntimeMinutes = ISNULL(SUM(duration), 0)
    FROM dbo.STOP_CAUSES
    WHERE
        CAST(DATEADD(HOUR, -8, stop_begin) AS DATE) BETWEEN @StartDate AND @EndDate -- Apply 8-hr shift
        AND (@Line IS NULL OR line = @Line);

    DECLARE @RunTimeMinutes FLOAT = @TotalPlannedMinutes - @TotalDowntimeMinutes;
    IF @RunTimeMinutes < 0 SET @RunTimeMinutes = 0;

    -- STEP 2: Performance & Quality
    DECLARE @GoodCount FLOAT, @HoldCount FLOAT, @ScrapCount FLOAT, @IdealRunTimeMinutes FLOAT;
    SELECT
        @GoodCount = ISNULL(SUM(CASE WHEN t.transaction_type = 'PRODUCTION_FG' THEN t.quantity ELSE 0 END), 0),
        @HoldCount = ISNULL(SUM(CASE WHEN t.transaction_type = 'PRODUCTION_HOLD' THEN t.quantity ELSE 0 END), 0),
        @ScrapCount = ISNULL(SUM(CASE WHEN t.transaction_type = 'PRODUCTION_SCRAP' THEN t.quantity ELSE 0 END), 0),
        @IdealRunTimeMinutes = ISNULL(SUM(t.quantity * (60.0 / NULLIF(r.planned_output, 0))), 0)
    FROM dbo.STOCK_TRANSACTIONS t
    JOIN dbo.ITEMS i ON t.parameter_id = i.item_id
    JOIN dbo.LOCATIONS l ON t.to_location_id = l.location_id
    JOIN dbo.MANUFACTURING_ROUTES r ON t.parameter_id = r.item_id AND l.production_line = r.line
    WHERE
        DATEADD(HOUR, -8, t.transaction_timestamp) >= @StartDate -- Apply 8-hr shift
        AND DATEADD(HOUR, -8, t.transaction_timestamp) < @ActualEndDate -- Apply 8-hr shift
        AND t.transaction_type LIKE 'PRODUCTION_%' AND r.planned_output > 0
        AND (@Line IS NULL OR l.production_line = @Line)
        AND (@Model IS NULL OR r.model = @Model);

    DECLARE @TotalDefects FLOAT = @HoldCount + @ScrapCount;
    DECLARE @TotalCount FLOAT = @GoodCount + @TotalDefects;

    -- STEP 3: Final Calculation
    DECLARE @Availability FLOAT = CASE WHEN @TotalPlannedMinutes > 0 THEN (@RunTimeMinutes / @TotalPlannedMinutes) * 100.0 ELSE 0 END;
    DECLARE @Performance FLOAT = CASE WHEN @RunTimeMinutes > 0 THEN (@IdealRunTimeMinutes / @RunTimeMinutes) * 100.0 ELSE 0 END;
    DECLARE @Quality FLOAT = CASE WHEN @TotalCount > 0 THEN (@GoodCount / @TotalCount) * 100.0 ELSE 0 END;
    IF @Performance > 100 SET @Performance = 100;
    DECLARE @OEE FLOAT = (@Availability / 100.0) * (@Performance / 100.0) * (@Quality / 100.0) * 100.0;

    -- STEP 4: Return
    SELECT
        @Availability AS Availability, @Performance AS Performance, @Quality AS Quality, @OEE AS OEE,
        @TotalPlannedMinutes AS PlannedTime, @TotalDowntimeMinutes AS Downtime, @RunTimeMinutes AS Runtime,
        @GoodCount AS FG, @HoldCount AS Hold, @ScrapCount AS Scrap, @TotalDefects AS Defects,
        @TotalCount AS ActualOutput, @IdealRunTimeMinutes AS TotalTheoreticalMinutes;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateOEE_Dashboard_PieChart_TEST]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ใช้ CREATE PROCEDURE แทน ALTER PROCEDURE
CREATE PROCEDURE [dbo].[sp_CalculateOEE_Dashboard_PieChart_TEST]
    @StartDate DATE,
    @EndDate DATE,
    @Line NVARCHAR(50) = NULL,
    @Model NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ActualEndDate DATETIME = DATEADD(DAY, 1, @EndDate); 

    -- STEP 1: Availability
    DECLARE @TotalPlannedMinutes FLOAT;
    WITH ProductionEvents AS (
        SELECT DISTINCT 
            CAST(DATEADD(HOUR, -8, t.transaction_timestamp) AS DATE) AS ProdDate, 
            l.production_line AS ProdLine
        FROM dbo.STOCK_TRANSACTIONS_TEST t JOIN dbo.LOCATIONS_TEST l ON t.to_location_id = l.location_id 
        WHERE
            DATEADD(HOUR, -8, t.transaction_timestamp) >= @StartDate 
            AND DATEADD(HOUR, -8, t.transaction_timestamp) < @ActualEndDate 
            AND t.transaction_type LIKE 'PRODUCTION_%' AND l.production_line IS NOT NULL
            AND (@Line IS NULL OR l.production_line = @Line)
    )
    SELECT @TotalPlannedMinutes = ISNULL(SUM(
        CASE
            WHEN s.end_time >= s.start_time THEN DATEDIFF(MINUTE, s.start_time, s.end_time)
            ELSE DATEDIFF(MINUTE, s.start_time, s.end_time) + 1440
        END - s.planned_break_minutes
    ), 0)
    FROM ProductionEvents pe JOIN dbo.LINE_SCHEDULES_TEST s ON pe.ProdLine = s.line 
    WHERE s.is_active = 1;

    DECLARE @TotalDowntimeMinutes FLOAT;
    SELECT @TotalDowntimeMinutes = ISNULL(SUM(duration), 0)
    FROM dbo.STOP_CAUSES_TEST 
    WHERE
        CAST(DATEADD(HOUR, -8, stop_begin) AS DATE) BETWEEN @StartDate AND @EndDate 
        AND (@Line IS NULL OR line = @Line);
        
    DECLARE @RunTimeMinutes FLOAT = @TotalPlannedMinutes - @TotalDowntimeMinutes;
    IF @RunTimeMinutes < 0 SET @RunTimeMinutes = 0;

    -- STEP 2: Performance & Quality
    DECLARE @GoodCount FLOAT, @HoldCount FLOAT, @ScrapCount FLOAT, @IdealRunTimeMinutes FLOAT;
    SELECT
        @GoodCount = ISNULL(SUM(CASE WHEN t.transaction_type = 'PRODUCTION_FG' THEN t.quantity ELSE 0 END), 0),
        @HoldCount = ISNULL(SUM(CASE WHEN t.transaction_type = 'PRODUCTION_HOLD' THEN t.quantity ELSE 0 END), 0),
        @ScrapCount = ISNULL(SUM(CASE WHEN t.transaction_type = 'PRODUCTION_SCRAP' THEN t.quantity ELSE 0 END), 0),
        @IdealRunTimeMinutes = ISNULL(SUM(t.quantity * (60.0 / NULLIF(r.planned_output, 0))), 0)
    FROM dbo.STOCK_TRANSACTIONS_TEST t 
    JOIN dbo.ITEMS_TEST i ON t.parameter_id = i.item_id 
    JOIN dbo.LOCATIONS_TEST l ON t.to_location_id = l.location_id 
    JOIN dbo.MANUFACTURING_ROUTES_TEST r ON t.parameter_id = r.item_id AND l.production_line = r.line 
    WHERE
        DATEADD(HOUR, -8, t.transaction_timestamp) >= @StartDate 
        AND DATEADD(HOUR, -8, t.transaction_timestamp) < @ActualEndDate 
        AND t.transaction_type LIKE 'PRODUCTION_%' AND r.planned_output > 0
        AND (@Line IS NULL OR l.production_line = @Line)
        AND (@Model IS NULL OR r.model = @Model);

    DECLARE @TotalDefects FLOAT = @HoldCount + @ScrapCount;
    DECLARE @TotalCount FLOAT = @GoodCount + @TotalDefects;

    -- STEP 3: Final Calculation
    DECLARE @Availability FLOAT = CASE WHEN @TotalPlannedMinutes > 0 THEN (@RunTimeMinutes / @TotalPlannedMinutes) * 100.0 ELSE 0 END;
    DECLARE @Performance FLOAT = CASE WHEN @RunTimeMinutes > 0 THEN (@IdealRunTimeMinutes / @RunTimeMinutes) * 100.0 ELSE 0 END;
    DECLARE @Quality FLOAT = CASE WHEN @TotalCount > 0 THEN (@GoodCount / @TotalCount) * 100.0 ELSE 0 END;
    IF @Performance > 100 SET @Performance = 100;
    DECLARE @OEE FLOAT = (@Availability / 100.0) * (@Performance / 100.0) * (@Quality / 100.0) * 100.0;

    -- STEP 4: Return
    SELECT
        @Availability AS Availability, @Performance AS Performance, @Quality AS Quality, @OEE AS OEE,
        @TotalPlannedMinutes AS PlannedTime, @TotalDowntimeMinutes AS Downtime, @RunTimeMinutes AS Runtime,
        @GoodCount AS FG, @HoldCount AS Hold, @ScrapCount AS Scrap, @TotalDefects AS Defects,
        @TotalCount AS ActualOutput, @IdealRunTimeMinutes AS TotalTheoreticalMinutes;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateProductionCostSummary]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CalculateProductionCostSummary]
    @StartDate DATE,
    @EndDate DATE,
    @Line NVARCHAR(50) = NULL,
    @Model NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ActualEndDate DATETIME = DATEADD(DAY, 1, @EndDate);

    WITH ActualProduction AS (
        SELECT
            t.parameter_id AS item_id,
            SUM(t.quantity) AS ActualQty
        FROM dbo.STOCK_TRANSACTIONS t
        LEFT JOIN dbo.LOCATIONS l ON t.to_location_id = l.location_id
        WHERE
            t.transaction_type = 'PRODUCTION_FG'
            AND DATEADD(HOUR, -8, t.transaction_timestamp) >= @StartDate -- Apply 8-hr shift
            AND DATEADD(HOUR, -8, t.transaction_timestamp) < @ActualEndDate -- Apply 8-hr shift
            AND (@Line IS NULL OR l.production_line = @Line)
            AND (@Model IS NULL OR EXISTS (
                SELECT 1
                FROM dbo.MANUFACTURING_ROUTES r
                WHERE r.item_id = t.parameter_id AND r.model = @Model AND (@Line IS NULL OR r.line = l.production_line)
            ))
        GROUP BY t.parameter_id
    ),
    ItemCosts AS (
        SELECT
            ap.ActualQty, i.Cost_RM, i.Cost_PKG, i.Cost_SUB, i.Cost_DL, i.Cost_OH_Machine, i.Cost_OH_Utilities,
            i.Cost_OH_Indirect, i.Cost_OH_Staff, i.Cost_OH_Accessory, i.Cost_OH_Others, i.Cost_Total, i.StandardPrice
        FROM ActualProduction ap JOIN dbo.ITEMS i ON ap.item_id = i.item_id
    )
    SELECT
        ISNULL(SUM(ic.ActualQty * (ic.Cost_RM + ic.Cost_PKG + ic.Cost_SUB)), 0) AS TotalMatCost,
        ISNULL(SUM(ic.ActualQty * ic.Cost_DL), 0) AS TotalDLCost,
        ISNULL(SUM(ic.ActualQty * (ic.Cost_OH_Machine + ic.Cost_OH_Utilities + ic.Cost_OH_Indirect + ic.Cost_OH_Staff + ic.Cost_OH_Accessory + ic.Cost_OH_Others)), 0) AS TotalOHCost,
        ISNULL(SUM(ic.ActualQty * ic.Cost_Total), 0) AS TotalStdCost,
        ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) AS TotalStdRevenue,
        CASE WHEN ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) = 0 THEN 0 ELSE (ISNULL(SUM(ic.ActualQty * (ic.Cost_RM + ic.Cost_PKG + ic.Cost_SUB)), 0) / SUM(ic.ActualQty * ic.StandardPrice)) * 100.0 END AS PercentRM,
        CASE WHEN ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) = 0 THEN 0 ELSE (ISNULL(SUM(ic.ActualQty * ic.Cost_DL), 0) / SUM(ic.ActualQty * ic.StandardPrice)) * 100.0 END AS PercentDL,
        CASE WHEN ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) = 0 THEN 0 ELSE (ISNULL(SUM(ic.ActualQty * (ic.Cost_OH_Machine + ic.Cost_OH_Utilities + ic.Cost_OH_Indirect + ic.Cost_OH_Staff + ic.Cost_OH_Accessory + ic.Cost_OH_Others)), 0) / SUM(ic.ActualQty * ic.StandardPrice)) * 100.0 END AS PercentOH,
        CASE WHEN ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) = 0 THEN 0 ELSE ((ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) - ISNULL(SUM(ic.ActualQty * ic.Cost_Total), 0)) / SUM(ic.ActualQty * ic.StandardPrice)) * 100.0 END AS PercentGPStd
    FROM ItemCosts ic;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateProductionCostSummary_TEST]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CalculateProductionCostSummary_TEST]
    @StartDate DATE,
    @EndDate DATE,
    @Line NVARCHAR(50) = NULL,
    @Model NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ActualEndDate DATETIME = DATEADD(DAY, 1, @EndDate);

    -- 1. Aggregate Actual Production Quantity (FG Only) - Using TEST tables
    WITH ActualProduction AS (
        SELECT
            t.parameter_id AS item_id,
            SUM(t.quantity) AS ActualQty
        FROM dbo.STOCK_TRANSACTIONS_TEST t 
        LEFT JOIN dbo.LOCATIONS_TEST l ON t.to_location_id = l.location_id 
        WHERE
            t.transaction_type = 'PRODUCTION_FG'

            -- [การแก้ไข 8-Hour Shift]
            AND DATEADD(HOUR, -8, t.transaction_timestamp) >= @StartDate
            AND DATEADD(HOUR, -8, t.transaction_timestamp) < @ActualEndDate
            
            AND (@Line IS NULL OR l.production_line = @Line)
            -- [การแก้ไข JOIN คูณ]
            AND (@Model IS NULL OR EXISTS (
                SELECT 1
                FROM dbo.MANUFACTURING_ROUTES_TEST r 
                WHERE r.item_id = t.parameter_id
                  AND r.model = @Model
                  AND (@Line IS NULL OR r.line = l.production_line) 
            ))
        GROUP BY t.parameter_id
    ),
    -- 2. Calculate Costs per Item - Using TEST table
    ItemCosts AS (
        SELECT
            ap.ActualQty,
            i.Cost_RM, i.Cost_PKG, i.Cost_SUB, i.Cost_DL,
            i.Cost_OH_Machine, i.Cost_OH_Utilities, i.Cost_OH_Indirect, i.Cost_OH_Staff, i.Cost_OH_Accessory, i.Cost_OH_Others,
            i.Cost_Total, i.StandardPrice
        FROM ActualProduction ap
        JOIN dbo.ITEMS_TEST i ON ap.item_id = i.item_id 
    )
    -- 3. Calculate Final Summary (Logic remains the same + แก้ไขตัวเช็คหาร 0)
    SELECT
        ISNULL(SUM(ic.ActualQty * (ic.Cost_RM + ic.Cost_PKG + ic.Cost_SUB)), 0) AS TotalMatCost,
        ISNULL(SUM(ic.ActualQty * ic.Cost_DL), 0) AS TotalDLCost,
        ISNULL(SUM(ic.ActualQty * (ic.Cost_OH_Machine + ic.Cost_OH_Utilities + ic.Cost_OH_Indirect + ic.Cost_OH_Staff + ic.Cost_OH_Accessory + ic.Cost_OH_Others)), 0) AS TotalOHCost,
        ISNULL(SUM(ic.ActualQty * ic.Cost_Total), 0) AS TotalStdCost,
        ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) AS TotalStdRevenue,
        CASE WHEN ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) = 0 THEN 0 ELSE (ISNULL(SUM(ic.ActualQty * (ic.Cost_RM + ic.Cost_PKG + ic.Cost_SUB)), 0) / SUM(ic.ActualQty * ic.StandardPrice)) * 100.0 END AS PercentRM,
        CASE WHEN ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) = 0 THEN 0 ELSE (ISNULL(SUM(ic.ActualQty * ic.Cost_DL), 0) / SUM(ic.ActualQty * ic.StandardPrice)) * 100.0 END AS PercentDL,
        CASE WHEN ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) = 0 THEN 0 ELSE (ISNULL(SUM(ic.ActualQty * (ic.Cost_OH_Machine + ic.Cost_OH_Utilities + ic.Cost_OH_Indirect + ic.Cost_OH_Staff + ic.Cost_OH_Accessory + ic.Cost_OH_Others)), 0) / SUM(ic.ActualQty * ic.StandardPrice)) * 100.0 END AS PercentOH,
        CASE WHEN ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) = 0 THEN 0 ELSE ((ISNULL(SUM(ic.ActualQty * ic.StandardPrice), 0) - ISNULL(SUM(ic.ActualQty * ic.Cost_Total), 0)) / SUM(ic.ActualQty * ic.StandardPrice)) * 100.0 END AS PercentGPStd
    FROM ItemCosts ic;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSchedule]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSchedule] @id INT AS BEGIN SET NOCOUNT ON; DELETE FROM dbo.LINE_SCHEDULES WHERE id = @id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDailyProductionSummary]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetDailyProductionSummary]
    @StartDate DATE,
    @EndDate DATE,
    @Line NVARCHAR(50) = NULL,
    @Model NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ActualEndDate DATETIME = DATEADD(DAY, 1, @EndDate);

    -- Apply BOTH EXISTS fix AND 8-hr shift fix
    WITH ActualProduction AS (
        SELECT
            t.transaction_id, t.parameter_id, t.quantity, t.transaction_timestamp, l.production_line
        FROM dbo.STOCK_TRANSACTIONS t
        LEFT JOIN dbo.LOCATIONS l ON t.to_location_id = l.location_id
        WHERE
            t.transaction_type = 'PRODUCTION_FG'
            AND DATEADD(HOUR, -8, t.transaction_timestamp) >= @StartDate -- Apply 8-hr shift
            AND DATEADD(HOUR, -8, t.transaction_timestamp) < @ActualEndDate -- Apply 8-hr shift
            AND (@Line IS NULL OR l.production_line = @Line)
            AND (@Model IS NULL OR EXISTS ( -- Apply EXISTS fix
                SELECT 1
                FROM dbo.MANUFACTURING_ROUTES r
                WHERE r.item_id = t.parameter_id AND r.model = @Model AND (@Line IS NULL OR r.line = l.production_line)
            ))
    )
    SELECT
        CAST(DATEADD(HOUR, -8, ap.transaction_timestamp) AS DATE) AS ProductionDate, -- Apply 8-hr shift
        ISNULL(i.part_no, i.sap_no) AS ItemIdentifier,
        SUM(ap.quantity) AS TotalQuantity
    FROM ActualProduction ap
    JOIN dbo.ITEMS i ON ap.parameter_id = i.item_id
    GROUP BY
        CAST(DATEADD(HOUR, -8, ap.transaction_timestamp) AS DATE), -- Apply 8-hr shift
        ISNULL(i.part_no, i.sap_no)
    ORDER BY
        ProductionDate ASC,
        ItemIdentifier ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDailyProductionSummary_TEST]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDailyProductionSummary_TEST]
    @StartDate DATE,
    @EndDate DATE,
    @Line NVARCHAR(50) = NULL,
    @Model NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ActualEndDate DATETIME = DATEADD(DAY, 1, @EndDate);

    -- [แก้ไข] ใช้ EXISTS แทน JOIN ตัวที่ทำให้แถวคูณ
    WITH ActualProduction AS (
        SELECT
            t.transaction_id,
            t.parameter_id,
            t.quantity,
            t.transaction_timestamp,
            l.production_line
        FROM dbo.STOCK_TRANSACTIONS_TEST t -- Use TEST table
        LEFT JOIN dbo.LOCATIONS_TEST l ON t.to_location_id = l.location_id -- Use TEST table
        WHERE
            t.transaction_type = 'PRODUCTION_FG'
            -- <== แก้ไข 8-hr shift
            AND DATEADD(HOUR, -8, t.transaction_timestamp) >= @StartDate
            AND DATEADD(HOUR, -8, t.transaction_timestamp) < @ActualEndDate
            AND (@Line IS NULL OR l.production_line = @Line)
            -- [แก้ไข] JOIN คูณ
            AND (@Model IS NULL OR EXISTS (
                SELECT 1
                FROM dbo.MANUFACTURING_ROUTES_TEST r -- Use TEST table
                WHERE r.item_id = t.parameter_id
                  AND r.model = @Model
                  AND (@Line IS NULL OR r.line = l.production_line) 
            ))
    )
    SELECT
        CAST(DATEADD(HOUR, -8, ap.transaction_timestamp) AS DATE) AS ProductionDate, -- <== แก้ไข 8-hr shift
        ISNULL(i.part_no, i.sap_no) AS ItemIdentifier,
        SUM(ap.quantity) AS TotalQuantity
    FROM ActualProduction ap
    JOIN dbo.ITEMS_TEST i ON ap.parameter_id = i.item_id -- Use TEST table
    GROUP BY
        CAST(DATEADD(HOUR, -8, ap.transaction_timestamp) AS DATE), -- <== แก้ไข 8-hr shift
        ISNULL(i.part_no, i.sap_no)
    ORDER BY
        ProductionDate ASC,
        ItemIdentifier ASC;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMissingParameters]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ALTER PROCEDURE Script for sp_GetMissingParameters
-- This script updates the procedure to use the new table structure.

CREATE PROCEDURE [dbo].[sp_GetMissingParameters]
AS
BEGIN
    SET NOCOUNT ON;

    -- ค้นหา Item ที่มีรายการบันทึกการผลิตในตาราง TRANSACTIONS
    -- แต่ยังไม่มีค่า Planned Output (เป็น 0 หรือ NULL) ในตาราง ITEMS
    SELECT DISTINCT
        i.sap_no,
        i.part_no,
        i.part_description
    FROM
        dbo.STOCK_TRANSACTIONS t -- หรือ dbo.STOCK_TRANSACTIONS_TEST ขึ้นอยู่กับ Environment
    JOIN
        dbo.ITEMS i ON t.parameter_id = i.item_id -- หรือ dbo.ITEMS_TEST
    WHERE
        t.transaction_type LIKE 'PRODUCTION_%'
        AND (i.planned_output IS NULL OR i.planned_output <= 0)
    ORDER BY
        i.sap_no;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSchedules]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSchedules] AS BEGIN SET NOCOUNT ON; SELECT id, line, shift_name, CONVERT(VARCHAR(8), start_time, 108) AS start_time, CONVERT(VARCHAR(8), end_time, 108) AS end_time, planned_break_minutes, is_active FROM dbo.LINE_SCHEDULES ORDER BY line, shift_name; END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveSchedule]    Script Date: 24/10/2025 2:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveSchedule] @id INT, @line VARCHAR(50), @shift_name VARCHAR(50), @start_time TIME, @end_time TIME, @planned_break_minutes INT, @is_active BIT AS BEGIN SET NOCOUNT ON; IF @id = 0 BEGIN INSERT INTO dbo.LINE_SCHEDULES (line, shift_name, start_time, end_time, planned_break_minutes, is_active) VALUES (@line, @shift_name, @start_time, @end_time, @planned_break_minutes, @is_active); END ELSE BEGIN UPDATE dbo.LINE_SCHEDULES SET line = @line, shift_name = @shift_name, start_time = @start_time, end_time = @end_time, planned_break_minutes = @planned_break_minutes, is_active = @is_active WHERE id = @id; END END
GO
USE [master]
GO
